[2019-01-30 12:13] markypython opened #5 "Update README"

[2019-02-02 13:31] mskelton opened #1 "Language support"
I would like to go through these languages to make sure the theme matches as closely as possible to the original Atom theme, varying where it make sense.  This does not mean these languages aren't supported, but the syntax highlighting for them could definitely be improved.

**IntelliJ Languages/Frameworks**

- [x] Java #7
- [x] Groovy #10
- [x] JSON #10
- [x] YAML #10
- [x] EditorConfig #10
- [x]

[2019-02-02 13:51] mskelton opened #2 "Remove autogenerated files from repo"

[2019-02-02 13:53] mskelton opened #3 "Setup Travis CI for as much CI as possible"
While auto publishing is likely not possible, Travis CI can be setup to do some stuff if possible.

[2019-02-15 03:05] #2 closed, assigned to mskelton

[2019-03-28 14:55] dacoto opened #4 "Support 2019.1"
Support 2019.1

![image](https://user-images.githubusercontent.com/16915053/55167740-d77da200-5171-11e9-8c34-0a5e1f1004cf.png)

[2019-03-29 12:45] dacoto commented on #4
When do you think the new version will be ready?

[2019-03-29 13:03] mskelton commented on #4
@dacoto I got the Gradle config updated this morning, but I will need to do some testing to make sure there isn't anything else that needs to get updated.  I will hopefully have it done by the end of day Saturday.

[2019-03-29 13:10] dacoto commented on #4
@markypython Thank you very much, and very good work with this topic, congratulations.

[2019-03-29 23:44] mskelton commented on #4
@dacoto I got the plugin updated and it is pending approval from JetBrains.  You can track it yourself for when they approve it on the [plugin site](https://plugins.jetbrains.com/plugin/11938-one-dark-theme).  I will post to this issue when it is published and @ mention you.

Thanks for opening this issue!

[2019-03-30 01:39] mskelton commented on #5
Thanks for the contribution, but I have fixed this in a different way to prevent this issue in the future.

Any future contributions are welcome and thank you for bringing this issue to my attention!

[2019-03-30 02:05] dacoto commented on #4
@markypython Great, when do you think it will be approved?

[2019-03-30 02:05] mskelton commented on #4
@dacoto Previous versions have usually taken about a day, but it might be a bit more since we are coming into the weekend.

[2019-03-30 16:02] mskelton commented on #3
🎉 Travis CI is setup and manages the full process of building on branches, publishing on tagged builds, and publishing release artifacts to GitHub.

[2019-03-30 16:02] #3 closed, assigned to mskelton

[2019-03-30 16:08] mskelton commented on #4
@dacoto I have done a bunch of work on this plugin and it is now automatically publishing builds when tags are committed to the repo.  In addition to publishing to the marketplace, I also added the built JAR file to the GitHub releases.

If you would like to get the new version sooner, go ahead and download it from the [latest release page](https://github.com/markypython/jetbrains-one-dark-theme/r

[2019-04-01 11:12] dacoto commented on #4
It is already updated, thank you very much =)

[2019-04-01 11:12] #4 closed, assigned to mskelton

[2019-04-01 11:45] mskelton commented on #4
@dacoto Yeah, I just got the email this morning that the plugin update was approved.  Sorry it took so long for the update!

[2019-04-03 07:17] GauthierPLM opened #6 "Add screenshots to plugin page"
Screenshots always make thing more clear and appealing. Even if this theme is well known, I think it would be a good addition to the plugin page and would give users a good preview of the theme.

[2019-04-06 19:01] mskelton commented on #6
@GauthierPLM Thanks for opening this issue.  I will work to add screenshots as soon as possible.

[2019-04-06 23:51] mskelton commented on #6
Screenshots have been added to the readme and the plugin page.

[2019-04-06 23:51] #6 closed, assigned to mskelton

[2019-04-16 02:20] mskelton opened #14 "PyCharm support"
Add good support for PyCharm

[2019-04-16 02:21] mskelton opened #15 "GoLand support"
Add good support for GoLand

[2019-04-16 02:21] mskelton opened #16 "Improve RubyMine support"
Add good support for RubyMine

[2019-04-16 02:21] mskelton opened #17 "PhpStorm"
Add good support for PhpStorm

[2019-04-16 02:22] #1 closed, assigned to mskelton

[2019-04-16 02:23] mskelton opened #18 "Color scheme improvements"
- [x] Debugger #53
- [x] Diff & Merge #32 and #53
- [x] Label #53

[2019-04-21 13:01] mskelton opened #19 "UI theme for contest"
Update the theme to take advantage of the theme contest for creating a UI theme.

[2019-04-22 22:09] #19 closed, assigned to mskelton

[2019-04-22 22:09] mskelton commented on #19
Available in [version 2.0.0](https://github.com/markypython/jetbrains-one-dark-theme/releases/tag/v2.0.0)

[2019-04-23 02:28] mskelton opened #20 "WebStorm Support"
Add good support for WebStorm

[2019-04-27 10:39] mskelton opened #23 "Installs but doesn't work on GoLand 2018.3.3"
Taken from [review](https://plugins.jetbrains.com/plugin/11938-one-dark-theme/reviews#review=32455)

[2019-04-27 10:47] mskelton commented on #23
@x1unix I saw your review comment about this not working in GoLad 2018.3.3.  Could you provide more details about the issue?  My guess is you aren't seeing the theme show up since the readme is setup for version 2 which changed how to install the theme due to changes to the IntelliJ that changed how themes are setup in order to support custom UI themes.

I'll add some information to the installati

[2019-04-27 11:52] mskelton commented on #23
I have updated the Wiki to include [legacy installation steps](https://github.com/markypython/jetbrains-one-dark-theme/wiki/Installation#legacy-v1-installation).

[2019-04-27 17:47] x1unix commented on #23
@markypython theme does not appears in `Settings | Appearance` section on Windows 10.
On Linux (Ubuntu 18.10) everything is fine

[2019-04-27 17:57] x1unix commented on #23
![изображение](https://user-images.githubusercontent.com/9203548/56853339-e0a78d80-692e-11e9-94bf-d4e76b8dc08c.png)

![изображение](https://user-images.githubusercontent.com/9203548/56853351-0fbdff00-692f-11e9-8a05-ded1256b41bd.png)

Here is settings screenshot. One Dark theme plugin is installed

**Environment:**
[code]

[2019-04-27 20:22] mskelton commented on #23
@x1unix After seeing your review, I updated the [installation docs](https://github.com/markypython/jetbrains-one-dark-theme/wiki/Installation#legacy-v1-installation) to include information about the legacy version of this plugin.  The important difference is you must set the color theme in `Preferences | Editor | Color Scheme` rather than the appearance section.

Can you look in the color scheme s

[2019-04-27 20:29] x1unix commented on #23
@markypython color scheme appears but it changes only editor color scheme, not a whole UI

[2019-04-27 20:32] mskelton commented on #23
That is expected.  The UI customizations are only available on IDE versions 2019.1 and above.  See the original [blog post](https://blog.jetbrains.com/idea/2019/03/brighten-up-your-day-add-color-to-intellij-idea/) by Jetbrains for more details.

[2019-04-27 20:33] mskelton commented on #23
If you would like the UI theme you will need to upgrade your IDE to the latest version (2019.1.1).

[2019-04-27 20:37] x1unix commented on #23
@markypython understood. Can you close the ticket?

[2019-04-27 20:41] #23 closed, assigned to mskelton

[2019-04-27 20:42] mskelton commented on #23
Thanks for posting your feedback as it gave me the opportunity to update the installation docs.  Hope you find this theme helpful and feel free to open any other issues for questions, bugs, or feature requests!

[2019-04-27 20:45] x1unix commented on #23
@markypython thank you for the theme! I'm using it almost on any IDE i have

[2019-04-28 11:42] mskelton opened #24 "Add all contributors"

[2019-04-28 11:45] mskelton commented on #24
@all-contributors add @markypython to code, question, doc, ideas, maintenance

[2019-04-28 11:48] mskelton commented on #24
@all-contributors add @dacoto for bugs

[2019-04-28 11:48] mskelton commented on #24
@all-contributors add @x1unix for bugs

[2019-04-28 11:49] mskelton commented on #24
@all-contributors add @dacoto for bugs

[2019-04-28 11:50] mskelton commented on #24
@all-contributors add @dacoto for bugs

[2019-04-28 11:50] mskelton commented on #24
@all-contributors add @x1unix for bugs

[2019-04-28 11:51] mskelton commented on #24
@all-contributors add @x1unix for bugs

[2019-04-28 11:56] #24 closed, assigned to mskelton

[2019-05-01 03:12] x1unix opened #33 "Improvement: selected color on variable rename"
Hello, when I do some class or variable rename, selected text is darker than a section for rename.
I caught myself thinking that this confuses me often, because selected text usually is highlighted.
But currently only section around selected text looks highlighted, not the selected text.

Can you change please selection color vise-versa (see screenshot below)

![изображение](https://user-images.gi

[2019-05-01 12:11] mskelton commented on #33
I believe this is the default behavior of IntelliJ and not something I would be able to fix.  Additionally, I think that making it all the same color would be confusing because you would not be able to distinguish where your selection was as it would be the same color as the rest of the refactor box.

[2019-05-01 14:09] x1unix commented on #33
@markypython I meant to make selected text background lighter and unselected section darker.
It's sad that it's impossible to fix but ok :(

[2019-05-01 14:09] #33 closed, assigned to mskelton

[2019-05-03 02:30] #14 closed, assigned to mskelton

[2019-05-03 02:31] mskelton opened #35 "DataGrip support"
Add good support for DataGrip

[2019-05-03 04:08] #35 closed, assigned to mskelton

[2019-05-04 06:19] ihigg opened #37 "Latest release does not contain non-italic color scheme file"
The one_dark.xml file is missing from the latest release. Applying the theme defaults the editor color scheme to darcula.

[2019-05-04 09:14] TazmanOne opened #38 "Italic color scheme does not rollback default font"
Hi, I looked at this plugin and it interested me.
I tried to switch to different styles (Italic)
After using several days, I decided to return to the standard view and remove this plugin.
Unfortunately, after removing the plugin, I still have Italic fonts.
Can you fix this behavior? I would like to see the correct font display after removing this plugin.
I attach a screenshot.
![image](https://use

[2019-05-04 11:08] mskelton commented on #37
Fixed in [v2.4.1](https://github.com/markypython/jetbrains-one-dark-theme/releases/tag/v2.4.1).  Apologies for the mistake!

[2019-05-04 11:09] #37 closed, assigned to mskelton

[2019-05-04 11:28] mskelton commented on #38
To my knowledge, the italics in those popups are part of the IDE itself, not this theme.  I started a fresh instance of IntelilJ that doesn't have this plugin installed and appeared the exact same.  The italics that the theme sets are for scopes such as keywords, annotations (which look non-italicized in your screenshot), etc.

[2019-05-04 13:04] mskelton commented on #37
@allcontributors[bot] add @zakh508 to bugs

[2019-05-04 13:17] mskelton commented on #6
@allcontributors[bot] add @GauthierPLM to ideas

[2019-05-04 19:31] mskelton commented on #37
@zakh508 If you haven't manually installed v2.4.1, the plugin was just approved by JetBrains and you can update though the plugin marketplace.

[2019-05-05 03:14] #17 closed, assigned to mskelton

[2019-05-05 03:16] mskelton commented on #17
Improved PhpStorm support added in [v2.5.0](https://github.com/markypython/jetbrains-one-dark-theme/releases/v2.5.0)

[2019-05-05 13:23] #20 closed, assigned to mskelton

[2019-05-05 13:33] mskelton opened #44 "Improve AppCode support"

[2019-05-05 13:34] mskelton opened #45 "Improve CLion support"

[2019-05-05 13:34] mskelton opened #46 "Improve PyCharm Professional support"

[2019-05-05 13:35] mskelton opened #47 "Improve Rider support"

[2019-05-05 13:39] mskelton opened #48 "Publish plugin for latest 2 major IntelliJ versions"
Currently, updates to this plugin are only available for the latest major IntelliJ version (currently 2019).  However, support could be added to publish this plugin for the latest 2 major versions to better support users who are running an older version or are using Android Studio which seems to always be 1 major version behind.

[2019-05-05 21:02] mskelton commented on #38
Closing as not an issue.

[2019-05-05 21:02] #38 closed, assigned to mskelton

[2019-05-05 21:04] #15 closed, assigned to mskelton

[2019-05-05 22:51] #46 closed, assigned to mskelton

[2019-05-08 11:46] #45 closed, assigned to mskelton

[2019-05-08 11:46] #47 closed, assigned to mskelton

[2019-05-08 11:46] mskelton commented on #47
Fixed in v2.8.0.

[2019-05-08 11:46] mskelton commented on #45
Fixed in v2.8.0.

[2019-05-09 02:32] #16 closed, assigned to mskelton

[2019-05-09 03:59] #44 closed, assigned to mskelton

[2019-05-10 11:37] mskelton commented on #48
idea183.x branch created for publishing to IntelliJ version 2018.

[2019-05-10 11:37] #48 closed, assigned to mskelton

[2019-05-11 13:44] #18 closed, assigned to mskelton

[2019-05-13 09:41] dacoto opened #54 "PHP variables color"
**Describe the bug**
Default colors in PHP variables

**Expected behavior**
Previously it had the correct color, but since version **v1.8.0** #84a77d6 it has been lost and it no longer loads the same colors.
He had not modified the colors, at all times he had them by default.

**Screenshots**
Now (v2.10.0):
![image](https://user-images.githubusercontent.com/16915053/57611322-e4642280-7572-11e9-839

[2019-05-13 17:05] mskelton commented on #54
The v2.10.0 screenshot is correct.  Local variables should be colored white, keywords should be colored purple.  Below is a list showing some of the main scopes that apply to each color:

- **chalky**: classes, interfaces, types
- **coral**: instance variables, object keys
- **dark**: comments
- **error**: bad characters or references
- **fountainBlue**: regex
- **green**: strings
- **lightWhite**

[2019-05-13 17:05] #54 closed, assigned to mskelton

[2019-05-14 05:55] sveneick opened #55 "Optimization of file colors"
First of all thanks for the great theme. Personally, the file colors are not easy to recognize. Can you still optimize that?
<img width="1362" alt="screenshot_xnpem" src="https://user-images.githubusercontent.com/4112464/57673802-91937500-761d-11e9-9574-be7893b69f0e.png">

[2019-05-14 11:40] mskelton commented on #55
Thanks for opening this issue.  I personally don't use file colors in IntelliJ, but when I setup the theme I tried to not make the file colors overly colorful as that seemed to make it hard to read and see the structure.

Do you have some suggestions for hex values for the different colors?

[2019-05-15 19:08] sveneick commented on #55
Thank you for your answer. My suggestion is:

Blue = #1e264b
Green = #334e1f
Orange = #562b22
Rose = #50202b
Violet = #4b1e4b
Brown = #563b22

[2019-05-15 23:39] mskelton commented on #55
I tried those out, but they seem a bit too vibrant.  What are your thoughts on potentially dropping the opacity or brightness?  For example `#563b2270` for blue (the color you suggested with 70% opacity).

[2019-05-16 05:42] sveneick commented on #55
Hi Mark,

Let me give you my application scenario, why a good distinction of colors is important to me. I work a lot in the Shopware theme programming. Here you usually move in 3 theme folders. The files you have open usually have the same name, but in different folders. The folders always have 3 different colors with me, so that I can distinguish the files, which I have open, with the Tab colors

[2019-05-17 01:54] mskelton commented on #55
@all-contributors add @eickit to design

[2019-05-17 11:28] mskelton commented on #55
@eickit I have updated the colors and released [v2.10.1](https://github.com/markypython/jetbrains-one-dark-theme/releases/tag/v2.10.1).  I decided to go with `cc` as the opacity on the colors you suggested.

[2019-05-17 21:38] sveneick commented on #55
Perfect, Thank You!

[2019-05-17 21:38] #55 closed, assigned to mskelton

[2019-05-18 12:11] marcocadei opened #58 "Theme not completely working with Android studio 3.4"
I want to use this theme for Android Studio 3.4.
I followed the instructions for the v1 legacy version of the theme.
The color scheme is correctly updated but everything else stay like in the normal Dracula theme.
How can i obtain a complete update on each part of the interface like what you show on [this screen](https://raw.githubusercontent.com/markypython/jetbrains-one-dark-theme/master/docs/sc

[2019-05-18 12:25] mskelton commented on #58
@MarcoCadei Unfortunately, Android Studio is still using IntelliJ version 2018 which does not support the new UI theme customizations available in IntelliJ 2019.1.  When the next major Android Studio version is released (likely in about a year), then it will support the UI theme customizations.

[2019-05-18 12:25] #58 closed, assigned to mskelton

[2019-06-03 11:53] drkn opened #59 "Please make it Intellij 2019.2 compatible"
Please make it compatible with current EAP 2019.2 version. Tried to just change version in descriptor, but some colors acted weird. Buttons overlay color hide icons:

![image](https://user-images.githubusercontent.com/140258/58799931-e0be3b80-8606-11e9-9282-0aaa214511c5.png)

[2019-06-05 09:24] Nikki1993 opened #60 "Configurable Project View Tree Padding"
The theme seems to override default padding/not respecting the font size in the appearance tab. Here is Dracula default theme
![image](https://user-images.githubusercontent.com/1446529/58945537-b5fdef80-878c-11e9-8c25-092e4045df68.png)
and here is the Dark theme
![image](https://user-images.githubusercontent.com/1446529/58945435-84852400-878c-11e9-8f33-1a656797757a.png)

Would be nice to get back

[2019-06-05 12:38] mskelton commented on #59
There are some issues with IntelliJ 2019.2 that affect this theme.  Until they are resolved, I won't be publishing the update for 2019.2.

Here is one of the main issues with the new version of IntelliJ: https://youtrack.jetbrains.com/issue/IDEA-215462

[2019-06-06 01:54] mskelton commented on #60
Which setting are you referring to for changing the font size?

[2019-06-09 02:39] astrolemonade opened #61 "What is the name of the text font that you are using in the screenshots?"

[2019-06-09 02:50] mskelton commented on #61
[Operator Mono](https://www.typography.com/fonts/operator/styles/screensmart)

[2019-06-09 02:50] #61 closed, assigned to nobody

[2019-06-09 03:08] astrolemonade commented on #61
Thank you

[2019-06-11 11:30] mskelton commented on #59
[v2.11.0](https://github.com/markypython/jetbrains-one-dark-theme/releases/tag/v2.11.0) is now compatible with IntelliJ 2019.2.  There is one issue I noticed with the header for the plugin settings page looking strange, and I have opened a separate issue to resolve that.

[2019-06-11 11:31] #59 closed, assigned to mskelton

[2019-06-11 11:34] mskelton opened #62 "Plugin header looks strange on IntelliJ 2019.2"
### Describe the bug
The background of the plugin header is a lighter gray than it should be.

### Expected behavior
The background is a consistent dark color.  Note that the appearance will not be exactly the same as before due to the changes in the plugin header in IntelliJ 2019.2.

### Screenshots

**Old (expected) functionality**

![2019-06-11_06-32-42](https://user-images.githubusercontent.co

[2019-06-11 11:35] mskelton commented on #62
Found via #59

[2019-06-11 22:37] mskelton commented on #62
This is fixed in [IDEA-214477](https://youtrack.jetbrains.com/issue/IDEA-214477) but has not been released yet.

[2019-06-12 08:47] cnfn opened #63 "Enhance the background color of the selected area"
**Describe the proposed feature**

The selected area background color is too light to find it...
Could you find what I have selected in the string `SpringBootApplication`?

![image](https://user-images.githubusercontent.com/1445517/59336308-e3204400-8d30-11e9-976e-187503536645.png)

My environment:
- Jetbrains IDEA: 2019.1
- Language: Java

[2019-06-12 10:58] mskelton commented on #60
@Nikki1993 Which setting are you referring to for changing the font size?

[2019-06-13 18:10] Nikki1993 commented on #60
Sorry, I was traveling by car for a few days, according to Webstorm docs, modifying this setting makes file tree size change, unless I misunderstood the docs wildly

![image](https://user-images.githubusercontent.com/1446529/59456648-7b94f200-8e1f-11e9-89fe-3fbf252cdab8.png)

However, material design theme ext for JetBrains made it as a configurable option, so perhaps similar could be done here?

[2019-06-13 18:11] Nikki1993 commented on #60
here are a few comments referring to similar findings https://stackoverflow.com/questions/17804838/how-to-change-line-space-in-project-window

[2019-06-13 22:48] mskelton commented on #60
@Nikki1993 Even when I increase the font size, the padding still looks fine.  Can you send me a list of the plugins you have installed or try disabling them to see if they are potentially causing the issue?

I am not interested in making the tree view padding configurable as I would like to keep this plugin as simple as possible with just the UI and editor theme.  Additionally, having the tree vie

[2019-06-13 22:50] mskelton commented on #63
I can see the background you have selected, but this did encourage me to look at the color Atom is using for the selection background.  Their color is almost the same, but they don't highlight the current line when you have a selection which affects the color.  I will look into darkening the color to make it more apparent.

[2019-06-14 01:53] cnfn commented on #63
Thank you very much~

I have tried to modify some background fields for this theme, but not work. May be I not found the special field for selection background.😂

[2019-06-14 10:33] mskelton commented on #62
Fixed in IntelliJ 2019.2 EAP 4.

[2019-06-14 10:33] #62 closed, assigned to mskelton

[2019-06-14 15:02] Nikki1993 commented on #60
I do fully understand and support the notion of a configless theme.

Here are all the custom plugins I have installed,

![image](https://user-images.githubusercontent.com/1446529/59518541-7f338200-8ece-11e9-8d8c-9453264bc9fe.png)

I tried turning all off and only enabling the theme, the same effect as in screenshots above.
on a side note could this somehow be related that I am using a 4k display?

[2019-06-15 14:33] mskelton commented on #63
FYI, I will be on vacation for a week and won't be available to work on this improvement for at least 2 weeks.  I will try to get to it as soon as I can, but don't expect it to be fixed immediately.

[2019-06-15 14:36] mskelton commented on #60
The reason for making this theme configless is that it is based on a pre-existing color theme and there are almost no non-color settings this theme introduces.

I don't think it would be due to the display, as I too have a 4k monitor.  I'll have to investigate this further when I have a chance.

FYI, I will be on vacation for a week and won't be available to work on this improvement for at least 2

[2019-06-15 16:21] Nikki1993 commented on #60
No worries, if/when you need additional details from me just let me know, otherwise happy vacay :)

[2019-06-18 14:32] kalbert312 opened #64 "Use selected color scheme in special areas"
**Describe the proposed feature**

I'm using One Dark with a modified Dracula color scheme for the code. I've noticed that in certain areas like breakpoint conditional, evaluate expression, datagrip table quick filter, the theme's default color scheme is used. Is it possible to use the selected color scheme in all places, or is it just limited to the editor?

[2019-06-18 17:18] mskelton commented on #64
Can you provide some screenshots of the current behavior?

[2019-06-18 21:12] kalbert312 commented on #64
Ruby example in evaluate expression:
![Screen Shot 2019-06-18 at 5 08 47 PM](https://user-images.githubusercontent.com/5498623/59720019-d0ec4d00-91eb-11e9-8dd3-5af33e684ff9.png)
TypeScript example in breakpoint condition:
![Screen Shot 2019-06-18 at 5 11 38 PM](https://user-images.githubusercontent.com/5498623/59720169-30e2f380-91ec-11e9-8642-b3fed6b2b2f9.png)

[2019-06-20 20:48] cliffordp opened #65 "One Dark Italic: fix low contrast (light gray on yellow background)"
**Describe the bug**
Light gray text on yellow background is near impossible to read

**Expected behavior**
More contrast between text and bg colors

**Screenshots**
![image](https://user-images.githubusercontent.com/1812179/59880467-b5f81500-9372-11e9-846a-6232ae93ac12.png)

[2019-06-22 16:51] mskelton commented on #64
@kalbert312 I would suggest opening [an issue](https://youtrack.jetbrains.com/newIssue) on YouTrack and see what the folks at JetBrains think as I don't think this is an issue with the theme but with how the IDE selects the color theme.

[2019-06-23 13:08] mskelton commented on #60
I tried a few more things, but I still can't reproduce the issue you are having.  I did take some screenshots and the spacing for the Darcula theme is much different than the screenshot you sent.

**Darcula**

![2019-06-23_08-06-55](https://user-images.githubusercontent.com/25914066/59976706-ebc51580-958d-11e9-8da1-5ccad7b9d05a.png)

**One dark**

![2019-06-23_08-07-07](https://user-images.githubu

[2019-06-23 13:16] mskelton commented on #63
Fix committed and will be in the next release

[2019-06-23 13:17] #63 closed, assigned to mskelton

[2019-06-23 13:18] mskelton commented on #65
Is this bug in PhpStorm?

[2019-06-23 15:57] Nikki1993 commented on #60
which JDK version are you running? I am currently stuck using bundled with webstorm version JDK 8

[2019-06-23 17:01] cliffordp commented on #65
Here's a screenshot from Default:
![image](https://user-images.githubusercontent.com/1812179/59979518-964d3080-95ae-11e9-9089-808ec54ec77d.png)

And a screenshot from Darcula:
![image](https://user-images.githubusercontent.com/1812179/59979522-a533e300-95ae-11e9-8d66-66b3d5dbe19b.png)

So... *maybe*

[2019-06-23 22:31] mskelton commented on #60
I'm using the default JDK for webstorm.

[2019-06-23 23:08] mskelton commented on #65
Fixed in the next version

[2019-06-23 23:08] #65 closed, assigned to mskelton

[2019-06-23 23:11] mskelton commented on #64
Closing as this is likely an issue with IntelliJ itself rather than this theme.  @kalbert312 If you find this is an issue with this theme, comment on this issue and I will reopen it.

[2019-06-23 23:11] #64 closed, assigned to mskelton

[2019-06-24 10:29] Nikki1993 commented on #60
do you use 2x scaling for your 4k display? cause I am running it at 1x?

[2019-06-24 12:03] cnfn commented on #63
I know why not work for me when I try modify the theme. Because I directly modify the jar file, `~/Library/Application Support/IntelliJIdea2019.1/one-dark-theme/lib/one-dark-theme-2.11.0.jar`. But IDEA maybe cache it....

Thank you again~

[2019-06-24 20:20] astrolemonade opened #66 "Add OneLight flavour"
**Describe the proposed feature**

First of all, I understand that the name of the repository is **One Dark** . I think it would be a good feature to have a light version of the theme. I would really like to have a light version of the theme, I usually use light themes at day and dark them at night.
I think it would be little work to do to make this happen, changing the background to white or some

[2019-06-24 21:52] mskelton commented on #66
While I'm not opposed to the idea of having the light version of this theme, I think it is so different from this theme that it should be in a separate repository/IntelliJ plugin.  Because this theme is just a color theme and doesn't have any other customizations or features, most of this repo would have to change.

[2019-06-24 21:56] astrolemonade commented on #66
I understand what you said! Maybe in the future I will give it a try.

[2019-06-24 22:35] mskelton commented on #66
If you do, let me know as I would be happy to share any thoughts or experiences from building this theme.  Cheers!

[2019-06-24 22:35] #66 closed, assigned to mskelton

[2019-06-24 22:39] astrolemonade commented on #66
Of course, @markypython

mar., 25 iun. 2019, 01:35 Mark Skelton <notifications@github.com> a scris:

[2019-06-24 22:43] mskelton commented on #63
@allcontributors-bot add cnfn to design

[2019-06-24 22:44] mskelton commented on #65
@all-contributors add @cliffordp to bugs

[2019-06-29 16:14] mskelton commented on #60
Sorry for the delayed reply.  Do you know how I would go about checking the scaling?  I'm not a big hardware guy, so I don't know so much about that kind of thing 😄

[2019-06-29 16:17] mskelton commented on #60
Another thing I would suggest that could help further debug this issue is to clone this repo, open it in IntelliJ, sync the Gradle project, and run the `runIde` run configuration.  That will start a fresh ide with nothing installed except for the plugin and then you can select the plugin theme from the plugin menu to see if it tree view padding acts like it does in your original screenshot.  That

[2019-06-29 16:52] Nikki1993 commented on #60
depends on what system you are running if you tell me I can provide instructions for running display at native 4k, I will clone the repo and have a look

[2019-06-29 16:53] mskelton commented on #60
I run macOS Mojave.

[2019-06-29 16:55] Nikki1993 commented on #60
pretty easy, go to display settings, set it to scaled mode and select highest available resolution https://www.eizoglobal.com/support/compatibility/dpi_scaling_settings_mac_os_x/index.html

[2019-06-29 16:57] mskelton commented on #60
Oh, I didn't realize that was what you were referring to when you said 1x or 2x 😄

I run my MacBook on the highest res possible and my 4k monitor right in the middle.  I'll try switching my other monitor to the highest res to see what happens, but it won't be until Monday since that monitor is the one I use at work.

[2019-06-29 17:38] Nikki1993 commented on #60
cant test, both jdk 11 and 12 give me when doing ideRun
 https://gist.github.com/Nikki1993/1aab4673eb0dc44b81b6c573605648fd

[2019-06-29 18:02] mskelton commented on #60
Sorry, I forgot to mention the build steps that you will need to run.  You will need to run `python3 ./scripts/build.py` to build the theme files before running the IDE.  I have a development wiki doc if you need further explanation.

https://github.com/markypython/jetbrains-one-dark-theme/wiki/Development

[2019-06-29 20:14] Nikki1993 commented on #60
all works now, but same padding difference for me, unfortunately,

[2019-06-29 21:30] mskelton commented on #60
Okay, thanks for doing that as that helps to rule out other plugins/configuration as a potential issue.  Like I said, I'll check on Monday with my 4k monitor to see how it looks scaled down.

[2019-06-29 21:32] mskelton commented on #60
Additionally, you could try removing [this line](https://github.com/markypython/jetbrains-one-dark-theme/blob/master/src/main/resources/themes/one_dark.theme.json#L324) from the theme file, rebuilding the files with the Python command I sent, and restarting the ide.  That would help discover if that setting is what is causing the issue.

[2019-06-30 10:15] Nikki1993 commented on #60
@markypython YES, success, removing rowHeight worked perfectly!

[2019-06-30 12:26] mskelton commented on #60
Okay, so it is definitely related to that setting.  I wonder if this isn't a bug within IntelliJ, so I might open a bug once I am able to reproduce it.

[2019-07-08 22:35] mskelton commented on #60
@Nikki1993 First of all, apologies for the delay in responding, I totally forgot about this early last week and then the holiday came around.  I did check this morning and I noticed no difference on my monitor regardless of the scale I set it to.

[2019-07-09 07:57] Nikki1993 commented on #60
no worries at all :) I am not sure what's up then, perhaps I am alone with this due to very specific setup, I guess I could always fork your repo and just remove the rowHeight :D

[2019-07-09 12:00] mskelton commented on #60
@Nikki1993 I hate to make you do that.  Can you try installing the [dark purple](https://plugins.jetbrains.com/plugin/12100-dark-purple-theme) theme from JetBrains?  It also changes the [row height](https://github.com/OlyaB/DarkPurpleTheme/blob/master/src/DarkPurple.theme.json#L354) and I wonder if you will get the same result with that theme.  If you do, this is probably an IntelliJ bug for your

[2019-07-16 11:35] mskelton commented on #60
@Nikki1993 Were you able to try out the dark purple theme and see if it has the same issue?

[2019-07-16 18:29] Nikki1993 commented on #60
@markypython so sorry, I am so forgetful, but to answer your question, yes and it does have the same issue. Stock Dracula theme however does not.

[2019-07-17 10:42] mskelton commented on #60
@Nikki1993 This must be a bug with IntelliJ then that occurs with your specific setup.  I'm going to close this issue as it is not a problem with this theme.  I would encourage you to [open an issue](https://youtrack.jetbrains.com/newIssue) on YouTrack and see if the folks at JetBrains can track down and fix the issue.

[2019-07-17 10:42] #60 closed, assigned to mskelton

[2019-07-21 08:29] yazeedobaid opened #72 "Can't Install latest release from JetBrains plugins store"
Hi,
I'm trying to install the plugin from PhpStorm market place but it displays version 1.6 for me. I tried to in-validate PhpStorm cache and it still the same.

Please note that I was able to install the plugin (latest release 2.11) manually.

Thanks

[2019-07-21 12:17] mskelton commented on #72
@yazeedobaid What version of PhpStorm are you using?

[2019-07-23 11:41] yazeedobaid commented on #72
@markypython I'm using PhpStorm 2019.1.3

[2019-07-23 12:32] mskelton commented on #72
@yazeedobaid Can you provide some screenshots?  I tried installing it with version 2019.1.3 and it worked fine.

[2019-07-23 19:14] yazeedobaid commented on #72
Hi again, the 1.6 version has the name "Atom One Dark theme". However, the latest release has the name "One Dark Theme" which is 2.* version.
![image](https://user-images.githubusercontent.com/26872001/61740325-0a8a1800-ad97-11e9-9f19-d78500ec9aaa.png)

I have installed the latest one "One Dark".

Thanks;

[2019-07-23 19:14] #72 closed, assigned to mskelton

[2019-07-25 07:06] sundongmin opened #73 "Please change the selection background color"
I like this theme very much, but there is a problem for me.

On my monitor, the `Selection background` color is similar with `Identifier under caret` and `Identifier under caret (write)` color, see the figure
![20190725145402](https://user-images.githubusercontent.com/17910228/61852441-163b2300-aeec-11e9-9503-94c322290f40.png)
In this figure, the character `res` has alreay selected, but could not

[2019-07-25 12:04] mskelton commented on #73
@sundongmin Thanks for the feedback.  The selection color is pretty tricky to get correct based on how IntelliJ handles it, but I will play around with it a bit more and see what I can come up with.

[2019-07-25 12:05] mskelton commented on #73
Related to #63

[2019-07-26 07:24] Defman21 opened #74 "Colors in Go inherits Darcula"
**Describe the bug**
For some reason, most of the tokens in Go are colorized with Darcula.

**Expected behavior**
Go should inherit from the One dark theme.

**Screenshots**
![image](https://user-images.githubusercontent.com/7100645/61933733-4556a080-af8f-11e9-8243-9f2a73b40f9f.png)

I fixed it myself by going to `Editor - Color Scheme - Go` and checking `Inherit values from: ... (Language Default

[2019-07-26 11:37] mskelton commented on #74
@Defman21 Yikes!  I'll get to fixing this right away on Saturday.

[2019-07-26 12:25] mskelton commented on #74
@allcontributors add defman21 to bugs

[2019-07-26 12:29] #74 closed, assigned to mskelton

[2019-07-26 12:31] mskelton commented on #74
@Defman21 I actually had a bit of time this morning, so I fixed and released a [patch](https://github.com/markypython/jetbrains-one-dark-theme/releases/tag/v2.11.3).  You can either download it manually, or wait for JetBrains to approve the plugin update and then install it that way.

Thanks for reporting this!

[2019-07-26 16:17] Defman21 commented on #74
Woah, that was fast. Thanks a lot! :)

[2019-07-26 17:32] jonnylangefeld opened #77 "Not working with Goland 2019.2"
**Describe the bug**
The plugin is incompatible with the current GoLand version (2019.2)

**Screenshots**
![Screen Shot 2019-07-26 at 10 31 22 AM](https://user-images.githubusercontent.com/18717376/61969957-9915b980-af90-11e9-94b3-a4249217a124.png)

This is my favorite theme, I hope it is compatible with GoLand 2019.2 soon again!

[2019-07-26 18:00] mskelton commented on #77
@jonnylangefeld I'm not sure why it isn't showing that there is an update for the theme as version [2.11.0](https://plugins.jetbrains.com/plugin/11938-one-dark-theme/update/63833) was release last month and is compatible with version 2019.1 — 2019.2.

Could you try uninstalling and reinstalling the theme?

[2019-07-26 18:02] mskelton commented on #77
Also, be aware that version 2.11.0 had a bug with the Go syntax highlighting that I fixed this morning in PR #75.  I released version 2.11.3 but it is still pending approval from JetBrains.  You can download it manually on the [release page](https://github.com/markypython/jetbrains-one-dark-theme/releases/tag/v2.11.3) if you would like.

[2019-07-26 18:22] jonnylangefeld commented on #77
Wow thanks for your quick reply and your quick fix this morning. Because true, once I uninstalled it and reinstalled it, I ran into the same issue as described in #74. But now I downloaded your release from this morning and everything is working fine again 🎉
So next time, once JetBrains approved, it'll work via the marketplace again!

[2019-07-26 18:22] #77 closed, assigned to mskelton

[2019-07-28 02:00] mskelton commented on #73
@sundongmin After playing around with the colors a bit, I did make some small adjustments to the section and identifier under caret colors.  That said, IntelliJ is a bit limiting in what they let you do for those two which make it worse that VS Code for example which handles this all extremely well.

The fix for this will be in the next release.

[2019-07-28 02:14] sundongmin commented on #73
Thank you very much.

And I expect it.

[2019-07-28 13:28] mskelton commented on #73
@allcontributors add sundongmin to design

[2019-07-28 13:30] mskelton commented on #73
Fixed in [v2.12.0](https://github.com/markypython/jetbrains-one-dark-theme/releases/tag/v2.12.0)

[2019-07-28 13:30] #73 closed, assigned to mskelton

[2019-07-30 15:22] ktconnolly opened #81 "Docstring"
Is there anyway to stop the param and return inside the docstring from being highlighted?

![Screenshot from 2019-07-30 16-18-18](https://user-images.githubusercontent.com/44116267/62142360-1c634200-b2e6-11e9-906a-cf5c7f22787c.png)

[2019-07-30 16:49] mskelton commented on #81
That is intentional, but you may be able to change it by adjusting the theme.  I'll have to take a look this evening as I don't have access to PyCharm right now.

[2019-07-30 23:41] mskelton commented on #81
@KTConnolly There are two settings that control that color.  I have attached screenshots of both.  If you want to disable it for just Python, adjust the first setting.  Otherwise, if you want to disable it globally, adjust the second setting.

### Setting in Python

![2019-07-30_18-18-46](https://user-images.githubusercontent.com/25914066/62172849-6570c180-b2f9-11e9-97bd-d30bb75bfa15.png)

### Set

[2019-07-30 23:41] mskelton commented on #81
Closing this as not an issue.  This behavior is intentional and can be modified if it is not desired.

Thanks for the question!

[2019-07-30 23:41] #81 closed, assigned to mskelton

[2019-07-31 05:26] ktconnolly commented on #81
Thanks!

[2019-08-02 07:16] Lingouzi opened #82 "how to change selected color?"
**Describe the proposed feature**

![image](https://user-images.githubusercontent.com/12908403/62351417-08168380-b538-11e9-8f33-feb06a1ee69f.png)
I want to change the background color here.But don't know how to modify.Or foreground
![image](https://user-images.githubusercontent.com/12908403/62351550-6a6f8400-b538-11e9-8386-e0ab60888648.png)

It doesn't look very obvious

[2019-08-02 11:52] mskelton commented on #82
@tulongxCodes Just so I am clear, you are referring to the background color of the selected item in the autocomplete list right?

[2019-08-02 15:19] Lingouzi commented on #82
@markypython yes

[2019-08-06 02:20] mskelton commented on #82
@tulongxCodes What IntelliJ version and plugin version are you using?

[2019-08-07 09:23] Lingouzi commented on #82
![image](https://user-images.githubusercontent.com/12908403/62611306-e5b9a700-b937-11e9-8c4f-4faede06a087.png)
![image](https://user-images.githubusercontent.com/12908403/62611381-08e45680-b938-11e9-9df8-d16bc8bf67ec.png)
![image](https://user-images.githubusercontent.com/12908403/62611409-17cb0900-b938-11e9-9f71-9743a8d2ce46.png)
@markypython

[2019-08-08 00:02] mskelton commented on #82
@tulongxCodes I wasn't able to find a way and customize this, so I opened a YouTrack issue to try and get some help.  You can follow that issue [here](https://youtrack.jetbrains.com/issue/IDEA-220191).

[2019-08-08 00:59] Lingouzi commented on #82
thks

[2019-08-12 02:41] smye opened #83 "bad install on clion"
**Fails to restart successfully after downloading plugin**
Downloaded from marketplace, told to restart. On restarting, it freezes at loading
components. On force closing that, it loads up but this time freezes on loading modules.

**Screenshots**
![one_dark](https://user-images.githubusercontent.com/17861005/62843609-ff9a1780-bcb2-11e9-865d-581e3f8e211c.PNG)

[2019-08-12 02:44] smye commented on #83
Sorry about that.

Yes, the theme does work.

[2019-08-12 02:50] mskelton commented on #83
Not a problem.  Glad there wasn't an issue!

[2019-08-12 02:59] mskelton commented on #83
@smye Can I close this issue then?

[2019-08-12 03:01] smye commented on #83
Yes
Sorry once again

[2019-08-12 03:03] mskelton commented on #83
Don't apologize, I'm always happy to help 😀

[2019-08-12 03:03] #83 closed, assigned to mskelton

[2019-08-14 02:04] mustii82 opened #84 "Dosent work with Latest Android Studio 3.4.2 and InteliJ + Old Version in Repo"
The Versions on the Repo are really old. The latest Builds here cant be imported into the IDEAS

[2019-08-17 14:08] mskelton commented on #84
What versions show up in Android Studio?  Keep in mind that Android Studio is a major version behind IntelliJ so the editor style customizations that you see in the screenshots are not available in Android Studio.

[2019-08-18 20:08] mskelton commented on #84
Can you explain what you mean by "not working"?  Did you follow the steps in the [Installation Wiki doc](https://github.com/markypython/jetbrains-one-dark-theme/wiki/Installation) after installing the theme to enable it?

[2019-08-20 01:31] mustii82 commented on #84
Yes I did o. InteliJ its working quite well but I can't get it get working on AS

[2019-08-20 01:33] mskelton commented on #84
Can you provide some screenshots showing where the behavior you are seeing differs from the docs?

[2019-08-20 01:37] mustii82 commented on #84
on AS just the Editor Scheme changes nothing more i loaded the version from the plugin store

[2019-08-20 01:40] mskelton commented on #84
That is expected functionality.  Android Studio does not yet have the ability to customize the overall editor theme as that was new in IntelliJ 2019.1.  Until Android Studio updates the IDE core, the editor color scheme is all that will be able to be updated.

[2019-08-20 02:44] #84 closed, assigned to mskelton

[2019-08-20 12:30] mskelton commented on #84
For future reference, I added some of these details to the [Installation](https://github.com/markypython/jetbrains-one-dark-theme/wiki/Installation#legacy-v1-installation) Wiki doc.

[2019-08-21 16:21] jeffjohnson opened #85 "Vivid Variant"
Would love to see the Vivid variant as that is my daily driver. I can create and do a pull request if necessary.

[2019-08-22 00:15] mskelton commented on #85
@jeffjohnson Glad to hear about your interest.  I haven't gotten around to the vivid variant but I would love to get it added to the theme.  Here are the basic steps I would take to add the vivid variant.

- [x] Update the [plugin.xml](https://github.com/markypython/jetbrains-one-dark-theme/blob/master/src/main/resources/META-INF/plugin.xml#L11-L12) to include the `one_dark_vivid` and `one_dark_vi

[2019-08-27 10:21] goxr3plus opened #87 "Tab Height is not working with IntelliJ 2019.2.1"
![image](https://user-images.githubusercontent.com/20374208/63763431-60d60380-c8cd-11e9-9688-c4d9fafb96d2.png)

Notice how the tabs are on the above image , i can't read the value of them anymore .

No matter how i change the Tab Height the tabs are broken like shown in the above image .

I don't know why it doesn't work anymore.

![image](https://user-images.githubusercontent.com/20374208/6376348

[2019-08-27 10:25] goxr3plus commented on #87
@markypython

[2019-08-27 10:42] mskelton commented on #87
@goxr3plus It appears that you are using the material theme extension.  I'm guessing the issue is because of that as the tab height works perfectly fine for me.  Can you try disabling the material theme extension and see if the issue persists?

[2019-08-27 10:53] goxr3plus commented on #87
Yes you are right another people seem to have the same problem i have opened an issue there :)

[2019-08-27 10:53] #87 closed, assigned to mskelton

[2019-08-28 09:12] C1PR14N055 opened #88 "One dark weird behavior in IntelliJ 2019.2"
Keywords are highlighted in other colors in IntelliJ 2019.2 compared to 2019.1.
The theme does not look like one dark anymore, sometimes it breaks completely and doesnt look at all like one dark.

This issue appeared only after the update.

[2019-08-28 10:42] mskelton commented on #88
Can you provide a screenshot please?

[2019-08-28 10:42] mskelton commented on #85
@jeffjohnson Do you still plan on working on this or would you like me to take care of it?

[2019-09-05 02:38] mskelton commented on #88
Closing due to lack of response.

[2019-09-05 02:38] #88 closed, assigned to nobody

[2019-09-08 04:00] asnig opened #89 "I want to know what kind of font in screenshots?"

[2019-09-08 13:06] mskelton commented on #89
The font I'm using is called [Operator Mono ScreenSmart](https://www.typography.com/fonts/operator/styles/operatormonoscreensmart).

It is a paid font and is pretty pricy but here are some good alternatives:

- [Dank Mono](https://dank.sh)
- [Fira Code](https://github.com/tonsky/FiraCode)

[2019-09-08 13:06] #89 closed, assigned to mskelton

[2019-09-08 13:32] asnig commented on #89
Thank you!

[2019-09-12 06:48] levani opened #90 "File names are not readable"
**Describe the bug**
Not sure what's the name of this area and why it has a different background color but file names are not very readable here...

**Expected behavior**
File names must be more readable.

**Screenshots**
![Screenshot_18](https://user-images.githubusercontent.com/184472/64760460-c7545600-d54a-11e9-8d86-0abe0daca9b9.png)

[2019-09-12 22:01] mskelton commented on #90
@levani The orange color is because of file colors which is something I don't use in IntelliJ as I find it very ugly.  Because I don't use it, I find it very difficult when attempting to improve the file colors for this theme.  As such, I try to lean on people who use this theme to provide helpful suggestions about how to improve the file colors.

As you will notice in your screenshot, the color o

[2019-09-13 13:59] levani commented on #90
@markypython
These directories are not inside `locales` folder. They are inside `node_modules` folder, which is marked as `library root`.

I think this `library root` case must be handled the same way as excluded folders are handled. Background color is the same here and file/folder names are a much lighter (screenshot below).

![Screenshot_19](https://user-images.githubusercontent.com/184472/6486

[2019-09-17 04:48] xiaohp opened #91 "normal and italic have different color ?"
**Describe the bug**
In WebStorm, my js file use this two themes have  different color.

**Expected behavior**
According to the docs, it should have the same colors and effects with the only difference being the italic variant italicizes certain language constructs

version
macOS 10.13.6
One Dark plugin 2.13.0
WebStorm 2019.2.2

**Screenshots**

![image](https://user-images.githubusercontent.com/2

[2019-09-17 10:31] mskelton commented on #91
What version of WebStorm and the One Dark plugin are you using?

[2019-09-17 10:49] xiaohp commented on #91
One Dark plugin 2.13.0
WebStorm 2019.2.2

[2019-09-17 10:58] mskelton commented on #90
This will be fixed in #92

[2019-09-18 01:01] #85 closed, assigned to mskelton

[2019-09-18 01:01] #90 closed, assigned to mskelton

[2019-09-18 01:33] mskelton commented on #85
Fixed in version [3.0.0](https://github.com/one-dark/jetbrains-one-dark-theme/releases/tag/v3.0.0)

[2019-09-18 01:33] mskelton commented on #90
Fixed in version [3.0.0](https://github.com/one-dark/jetbrains-one-dark-theme/releases/tag/v3.0.0)

[2019-09-18 01:51] mskelton commented on #91
Can you paste a minimal but complete JS file that reproduces the issue?

[2019-09-18 01:57] mskelton commented on #90
@allcontributors add levani to design

[2019-09-18 02:07] xiaohp commented on #91
Like this file https://github.com/xiaohp/webpack-demo/blob/master/src/index.js

[2019-09-18 02:09] mskelton commented on #91
Hmm, that seems to work for me.  Could you uninstall and reinstall the plugin to see if that fixes it?

[2019-09-18 02:31] xiaohp commented on #91
Sorry, it's my problem.
I found a color config file in Webstorm system path. It import from https://github.com/yurtaev/idea-one-dark-theme in last year, and it also named one dark. I think it conflict with the theme. So delete this file and restart Webstorm, it have fixed.
![image](https://user-images.githubusercontent.com/23056320/65102976-4e984280-d9ff-11e9-8c86-6846418a08de.png)

[2019-09-18 02:31] #91 closed, assigned to mskelton

[2019-09-18 02:32] mskelton commented on #91
Cool, glad you got it figured out!

[2019-09-18 14:05] jeffjohnson commented on #85
I apologize for not getting back to you on this.

I've had some family concerns that have kept me fairly busy.

I noticed last night that you had done the work. Thank you. Looking forward to using the theme.
R,
Jeff

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Wednesday, August 28, 2019 6:42 AM, Mark Skelton <notifications@github.com> wrote:

[2019-09-18 15:30] mskelton commented on #85
@jeffjohnson Not a problem.  I'm glad you expressed interest in this as it allowed me to prioritize adding the vivid theme.

[2019-09-18 15:35] jeffjohnson commented on #85
Starting using it today, it's awesome. Thank you so much!!!

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Wednesday, September 18, 2019 11:30 AM, Mark Skelton <notifications@github.com> wrote:

[2019-10-07 11:46] danilkhromov opened #95 "One Light theme variant"
It would be nice to have light variant for this theme, based on the similair one from [Atom](https://github.com/atom/one-light-ui). I'm willing to help, but i never ever developed any themes for intellij or any other editor.

[2019-10-07 17:48] mskelton commented on #95
@danilkhromov As I explained in #66, I don't want to add one light to this repo as it's name clearly indicates one dark.  That said, I'd be happy to help you setup one light based off of this project.  Feel free to email me at mdskelton99@gmail.com and we can talk further.

Here was my comment in the other issue:

cc: @cata0309

[2019-10-07 17:48] #95 closed, assigned to mskelton

[2019-10-14 07:39] wangwangdaxian opened #96 "UML diagram cannot see clearly"
Thanks for your wonderful theme,I have been using it for a long time.

However,there is something weired.When I show UML diagram in IDEA,I got one below,which I cannot see clearly.

![uml_digram](https://user-images.githubusercontent.com/32627085/66734985-b4110f00-ee97-11e9-95d9-69e8b89b2bee.png)

And I cannot find where to change diagrams' color.Please give me some advices.

[2019-10-15 01:42] mskelton commented on #96
@wangwangdaxian Thanks for the feedback on the theme!  I'm so happy that others are enjoying this theme 😄

I don't use the UML diagram, but I did turn it on for a class and took a screenshot and in mine I'm not seeing the odd behavior you are.

![2019-10-14_20-41-38](https://user-images.githubusercontent.com/25914066/66793467-23502880-eec3-11e9-986a-90468f90818a.png)

To help me debug this issue,

[2019-10-17 12:19] wangwangdaxian commented on #96
@markypython Hi, the IntelliJ on my machine is downloaded from jetbrains toolbox,and its version is 2019.2.3

More:
I just find that it only appers on classes of dependecy package.I write a demo class which implements Serializable interface,and it become like this:

![image](https://user-images.githubusercontent.com/32627085/67007629-69eb9000-f11a-11e9-8d6e-2768c3cbbb23.png)

Below is what the dep

[2019-10-19 10:32] mskelton commented on #96
I wasn't able to find a setting to control that, so I opened an issue with IntelliJ to see if I'm missing something.

https://youtrack.jetbrains.com/issue/IDEA-225180

[2019-10-19 10:59] #82 closed, assigned to mskelton

[2019-10-19 11:01] mskelton commented on #82
Fixed in [v3.1.0](https://github.com/one-dark/jetbrains-one-dark-theme/releases/tag/v3.1.0)

[2019-10-19 11:01] mskelton commented on #82
@all-contributors add @tulongxCodes  to design

[2019-10-19 17:29] TheSilentPro opened #99 "White background after updating"
**Describe the bug**

In update 3.0.0 the background is now white, it was never like that.
Only after updating it did this.

**Expected behavior**

To be dark and not white

**Screenshots**

![image](https://user-images.githubusercontent.com/46107752/67149034-c7144c80-f2a6-11e9-8e2f-ad00ed95fbc7.png)

[2019-10-20 01:25] mskelton commented on #99
You will probably just need to go into the IntelliJ preferences and deselect "One Dark" from the appearance dropdown and then reselect it.  I knew this could be a potential issue after a major change I made to this theme to include the vivid variant which is why I released the theme as version 3.0.0 to follow semver for a breaking change.

[2019-10-20 12:13] wangwangdaxian commented on #96
OK,I'll pay attention to that issue.Thanks for help.😃

[2019-10-20 12:13] #96 closed, assigned to mskelton

[2019-10-20 12:49] TheSilentPro commented on #99
Yeah, that fixed it.
Just went to the preferences and selected one dark and it worked.

[2019-10-20 12:49] #99 closed, assigned to mskelton

[2019-11-06 18:21] mskelton opened #100 "Project window not showing color correctly"
From this review comment on the plugin page.

[2019-11-06 18:21] mskelton commented on #100
Issue 100!  💯

[2019-11-06 18:58] dbrennan commented on #100
Hi Mark & thanks for opening an issue! (#100!)
I'm on IntelliJ 2019.2.4 Community.
I installed the theme and restarted, but the project panel doesn't have dark as background as I'd expect.
![image](https://user-images.githubusercontent.com/7130461/68328553-60ec3f80-0084-11ea-832e-6dca7bb81b27.png)

[2019-11-06 22:46] mskelton commented on #100
After installing the theme, did you follow the steps to configure it as documented here?

https://one-dark.gitbook.io/jetbrains/the-basics/installation#plugin-marketplace-recommended

The key part of those steps is to go to `Preferences | Appearance & Behavior | Appearance` and select the theme from the list.

[2019-11-07 04:58] dbrennan commented on #100
That was it, I had similar settings already applied and thought it switched when installed.
User error, sorry about that.

[2019-11-07 05:11] mskelton commented on #100
No problem, glad that it is working now!

[2019-11-07 05:11] #100 closed, assigned to mskelton

[2019-11-07 14:01] mskelton opened #101 "Improve installation docs"
**Describe the proposed feature**

Improve docs to add full installation instructions and a screenshot of the appearance configuration.

[2019-11-07 14:08] mskelton commented on #101
Opened as a result of #100

[2019-11-08 04:51] mskelton commented on #101
Closed via version 3.2.0.

[2019-11-08 04:51] #101 closed, assigned to mskelton

[2019-11-08 14:02] Wjinlei opened #102 "What font do you use?"
https://plugins.jetbrains.com/files/11938/screenshot_19494.png What font is used in this picture? Can you tell me

[2019-11-09 00:06] mskelton commented on #102
The font I'm using is called [Operator Mono ScreenSmart](https://www.typography.com/fonts/operator/styles/operatormonoscreensmart).  I also use the [Operator Mono Lig](https://github.com/kiliman/operator-mono-lig) project on GitHub which adds ligatures to the font.

It is a paid font and is pretty pricy but here are some good alternatives:

- [Dank Mono](https://dank.sh)
- [Fira Code](https://gith

[2019-11-09 00:06] #102 closed, assigned to nobody

[2019-11-09 01:13] mskelton commented on #102
I've been asked this a number of times, so thanks to your question I decided to create an AMA where I can log questions like this that I get asked frequently.  Check out issue number 1 which is your question!!

https://github.com/mskelton/ama/issues/1

[2019-11-11 22:47] astrolemonade opened #103 "Trying to update the plugin kills the IDE !"
**Describe the bug**

I started Clion IDE and I saw that there is an update available for the One dark package theme. I went to the plugin section and after I clicked update the IDE froze for all
**Expected behavior**
Clean and fluent update process

**Actual behavior**
Full freeze on the IDE and RAM hogging
**Screenshots**

Here is a stacktrace:
https://pastebin.com/hqQwmH5j

[2019-11-11 22:59] mskelton commented on #103
@cata0309 Can you try uninstalling and re-installing the theme?

[2019-11-12 19:39] astrolemonade commented on #103
It freezes the IDE at uninstalling too.It hangs on uninstalling and it doesn't uninstall. (It doesn't happen with other plugins, I can install them and uninstall them as many times I want)

[2019-11-12 22:46] mskelton commented on #103
The updates are working fine for me on IntelliJ so I'll need download CLion and give it a shot.  In the mean time, what CLion and OS versions are you on?

[2019-11-12 23:10] astrolemonade commented on #103
I am using CLion 2019.3 latest EAP build 193.5096.27 and I am using Linux(distribution Solus 4 Fortitude)

[2019-11-13 02:13] mskelton commented on #103
I tested in CLion and IntelliJ EAP with no issues so my assumption is this is an issue with the IDE itself, not the theme.  I would recommend reaching out to JetBrains support and see if they can help out.

[2019-11-13 06:43] astrolemonade commented on #103
I understand, thank you for helping me find out what is causing the bug

[2019-11-13 06:43] #103 closed, assigned to mskelton

[2019-11-13 10:58] Defman21 opened #104 "Go colors are broken again"
#74 again. This time in 2019.3 Beta

[2019-11-13 12:48] mskelton commented on #104
I'll see what I can find and release a patch.

[2019-11-14 00:53] mskelton commented on #104
So, I'm encountering some really odd behavior in the EAP build.  First of all, it doesn't quit when pressing command Q on mac which is odd and my first red flag.  Once I made the changes and built a new set of theme files, I noticed that it wasn't recognizing the changes I made.  So while the theme.xml files had the correct tokens, GoLand EAP wasn't picking them up thus resulting in the colors act

[2019-11-14 01:07] mskelton commented on #104
JetBrains issue here: https://youtrack.jetbrains.com/issue/GO-8365

[2019-11-14 18:08] mskelton commented on #104
Looks like the issue was already reported here: https://youtrack.jetbrains.com/issue/GO-8117.  I'll keep this issue open for tracking purpose, but at the moment there is nothing I'll be able to do about it 😢

[2019-11-14 20:26] Defman21 commented on #104
Yeah I saw that. Thank you anyway!

[2019-11-15 18:29] mskelton opened #105 "HTML breadcrumbs issue"
Copied from plugin review page:

[code]

![inOVWZV](https://user-images.githubusercontent.com/25914066/68966382-8e7f6a00-07a3-11ea-8219-8529ed7b5ef3.png)

[2019-11-15 20:42] mindyourlifeguide commented on #105
I have been using your theme from the very beginning. Rather, code highlighting. As for me, she is much better than in Atom One Dark Theme. Although many things I have already customized for myself regarding the highlight. As a theme, I installed Material Theme UI and set my interface colors to more contrast the menu and the workspace. Now to the bug that I discovered.
I’m tracking one developer o

[2019-11-16 10:47] mskelton commented on #105
@mindyourlifeguide Thanks for the detailed write up!  I'm not sure I'm entirely following what the issue is especially since this theme does not add any colors to the breadcrumbs (see screenshot).  Is it possible this is another plugin that is adding the breadcrumb colors?  Unless it is in an IDE that I'm not using (i.e. WebStorm)?

One thing that appears different in your screenshot is the HTML b

[2019-11-16 11:16] mindyourlifeguide commented on #105
I use webstorm. The problem was that my breadcrumbs were not highlighted, although the highlight item was turned on in the settings.

This highlight really gives your color theme. For myself, I made the colors a little brighter.

![999-2](https://user-images.githubusercontent.com/35348648/68992318-6448ad80-0872-11ea-8781-61ea1f76a61b.png)
![999-1](https://user-images.githubusercontent.com/35348648

[2019-11-16 11:19] mskelton commented on #105
No trouble at all 🙂 I'm always happy to respond to issues and bugs to see how I can help!

Are you good with me closing this issue then?

[2019-11-16 11:21] mindyourlifeguide commented on #105
Yes, close it.
Thanks again for the good work!

[2019-11-16 11:22] #105 closed, assigned to mskelton

[2019-11-21 19:32] rhisling opened #106 "Global variables and functions in javascript are broken in Release Candidate"
The global variables and global functions are in weird color.
![image](https://user-images.githubusercontent.com/35667987/69370256-794a8580-0c52-11ea-9d1b-54d0d319bf61.png)

[2019-11-21 22:38] mskelton commented on #106
Thanks for the report.  I'll look into this tonight.

[2019-11-22 02:40] mskelton commented on #106
I just released 3.3.1 which may fix it.  I've been noticing some really odd behavior lately with the syntax highlighting so that's why I'm saying that it "may" fix it 😄

[2019-11-22 05:33] rhisling commented on #106
Thanks but unfortunately it didn't fix it. I found that they don't inherit from 'Language defaults' anymore.
![image](https://user-images.githubusercontent.com/35667987/69399763-387b5c80-0ca4-11ea-8853-98ee86eb7f33.png)
On a side note, thanks for this theme. I use your VSCode theme as well :)

[2019-11-22 12:07] mskelton commented on #106
Well that's unfortunate.  It seems to be the same as the bug reported in #104 which is being tracked by JetBrains in this issue: https://youtrack.jetbrains.com/issue/GO-8117.

I wish I could do more but at this point I think it is a waiting game until JetBrains fixes the bug.

[2019-11-23 05:35] rhisling commented on #106
Thanks a lot. I think python is also broken and it looks like they won't be fixing it in 2019.3.

[2019-11-23 13:42] mskelton commented on #106
Yeah, I think it's pretty unfortunate that they are letting a bug like this get into their next release version.  Seems like a lot of people will be complaining when the actual version comes out.  As a note, you'll probably be able to change the colors manually until the JetBrains fix comes out.

[2019-11-26 02:51] mskelton opened #107 "Color scheme changing after each update"
From review

https://plugins.jetbrains.com/plugin/11938-one-dark-theme/reviews#review=36495

[2019-11-26 02:52] mskelton commented on #107
I'm not sure I fully understand the issue and I would appreciate some additional context.  Is the review suggesting that the color scheme is getting set to something other than One Dark after each update?  Or do you have custom theme settings that override the default settings which get cleared after each update?  Thanks!

[2019-12-05 04:10] mskelton commented on #107
Closing due to lack of response from the review author.

[2019-12-05 04:10] #107 closed, assigned to mskelton

[2019-12-05 04:21] mskelton opened #108 "Help wanted! Theme maintainers"
When I created this theme at the beginning of this year, I had no idea that it would grow to the popularity that it has.  I'm still blown away that there are over 250,000 downloads of this theme and before I continue let me thank everyone who has contributed to this project through issues and pull requests.  Your contributions have been vital in keeping this project moving!

That said, I'm undergo

[2019-12-05 14:53] vandriesh opened #109 "menu separators might look better"
if I use ascii to draw to describe the issue (bg than might be wrong color)
e.g.
[code]

[2019-12-05 18:34] mskelton commented on #109
I'm assuming you are referring to the menu separators of the IDE itself, correct?  If so, I'm assuming this is managed by the OS itself and outside of the control of this theme.

[2019-12-06 14:12] mskelton commented on #109
Closing as this is not an issue with this theme.

[2019-12-06 14:12] #109 closed, assigned to nobody

[2019-12-09 06:52] IlyaVorozhbit opened #110 "Why colors do not match?"
Hello! I have install your theme, but I cant understand why colors from screenshots from your site / phpstorm marketplace are different from my:

Your screenshot:
![image](https://user-images.githubusercontent.com/5056861/70413841-6fee5500-1a69-11ea-8c73-6d470d36a05f.png)

My screenshot:
![Screenshot from 2019-12-09 09-45-05](https://user-images.githubusercontent.com/5056861/70413736-27cf3280-1a69

[2019-12-09 22:02] mskelton commented on #110
It might be that you are looking at the screenshots for the vivid variant but you have the normal variant selected.  Take a look at the [Setup documentation](https://github.com/one-dark/jetbrains-one-dark-theme#setup) to see how to select the vivid variant.

[2019-12-15 21:26] Unthrottled commented on #108
Hey! I wouldn't mind helping out where I can. What's another 4 themes?

I also wanted to run a feature idea by you, for the users on MacOS.

_Feature request moved to issue #111 (@mskelton)_

[2019-12-15 21:29] mskelton commented on #108
@cyclic-reference Thanks for volunteering to help out!  In what ways would you be most interested in helping?  Fixing bugs?  Adding new features?  Something else?

Regarding the feature request, I'm going to move that to a separate issue to keep this issue focused on it's topic.  Thanks for bringing it up though!

[2019-12-15 21:30] mskelton opened #111 "MacOS title bar"
From @cyclic-reference

I wanted to run a feature idea by you, for the users on MacOS.

It would make the title bar go from this:

<img width="1322" alt="Screen Shot 2019-12-15 at 3 17 56 PM" src="https://user-images.githubusercontent.com/15972415/70869282-f2d24c80-1f4e-11ea-8963-79fac807f965.png">

To this:

<img width="1309" alt="Screen Shot 2019-12-15 at 3 13 01 PM" src="https://user-images.git

[2019-12-15 21:31] mskelton commented on #111
@cyclic-reference I didn't realize this was possible to do, but I absolutely love the idea!  Is there a setting we could change to make this possible?

[2019-12-15 21:32] mskelton commented on #110
Closing due to lack of response

[2019-12-15 22:15] Unthrottled commented on #108
I'd be happy to help fix bugs and add features. I do plan on continuing to use JetBrains products, so I can pitch in when they change stuff or add new things.

[2019-12-15 22:18] Unthrottled commented on #111
It is not an out of the box feature you can get with native theme stuff. So some UI code will have to be written.

One of the things to keep in mind is that if it is introduced, the plugin looses it's ability to be _instantly installed_. Where somebody who downloads the plugin gets the one dark theme applied right away. New and existing users will have to restart the IDE to consume any new updates

[2019-12-15 22:21] mskelton commented on #108
@cyclic-reference Awesome!! Let me know if there is any information I can share that would be helpful!

[2019-12-15 22:22] mskelton commented on #111
Interesting.  Is there another theme that does this that you could point me to so I can get up to speed on this?  Thanks!

[2019-12-15 22:39] Unthrottled commented on #111
Alright, so I just thought of something that would not require any changes to this code base.

If a _separate_ plugin that was built with the required components, then that separate plugin can be installed and then the title bar functionality can exist for many themes. This way all the other themes, including this one, can remain the same and I do not have to pepper that code all over the place.

[2019-12-15 22:40] mskelton commented on #111
Not a problem for the feature request and I love the idea of making it a separate plugin for better shareability 🙂

Should we keep this issue open or close it?

[2019-12-15 22:43] Unthrottled commented on #108
@mskelton Yeah, I was curious if this code base has all of the stuff for the themes. I took a peek at https://github.com/one-dark/jetbrains-one-dark-theme/tree/master/src/main/resources/themes and there is only one theme definition. Where are the others and the color xml files?

[2019-12-15 22:45] mskelton commented on #108
I set this theme up with a bunch of scripts to make development easier so instead of maintaining a bunch of theme files, we only have to maintain one and then the script will do the heavy lifting to create all the variants.

You'll want to checkout the [scripts directory](https://github.com/one-dark/jetbrains-one-dark-theme/tree/master/scripts) as it has the scripts for building the theme, generat

[2019-12-15 22:45] Unthrottled commented on #111
You can close it. Also, if you are curious, once I get something around I can let you know.

[2019-12-15 22:46] mskelton commented on #111
Yes!  I'd love to see what you put out there as I'm sure I'll want to install it!

[2019-12-15 22:46] #111 closed, assigned to nobody

[2019-12-15 22:51] Unthrottled commented on #108
That is awesome! I'll have to look at that a bit more once I get some time.

[2019-12-16 06:41] IlyaVorozhbit commented on #110
Sorry for long response, it's already vivid variant. Don't know, it could be problem with font

[2019-12-16 16:45] mikejav opened #112 "Broken git commit window"
When I open the git commit window (CTRL+K) I see broken theme in it.
OS: Manjaro, Ubuntu 18.04 LTS. Both on Gnome
![image](https://user-images.githubusercontent.com/25515470/70925318-5336bc00-202b-11ea-94e1-4fc42a0ca0ae.png)

[2019-12-16 23:34] Unthrottled commented on #112
Hey! I am having issues replicating the issue could you do this for me?

Please go to *Help -> About* and copy the infos

It should look something like this.

[code]

In addition could you attach the `idea.log` for me please?

You can find it at *Help -> Show Log in Files*

[2019-12-16 23:38] mskelton commented on #106
I'm going to close this since it will probably be fixed without any change to the plugin in the next version.

[2019-12-16 23:38] #106 closed, assigned to mskelton

[2019-12-16 23:38] mskelton commented on #104
I'm going to close this since it will probably be fixed without any change to the plugin in the next version.

[2019-12-16 23:38] #104 closed, assigned to mskelton

[2019-12-16 23:55] Unthrottled commented on #110
@mskelton Did you have a custom font set when you took those screenshots? The colors appear to be adhering to the palette.

[2019-12-16 23:59] mskelton commented on #110
The font I use is Operator Mono Ssm but the colors look the same if I switch to Monaco.

<img width="812" alt="2019-12-16_17-58-22" src="https://user-images.githubusercontent.com/25914066/70953039-bd506080-202d-11ea-9e70-ed89b622be98.png">

[2019-12-17 00:09] mskelton commented on #24
@all-contributors add @cyclic-reference for question

[2019-12-17 06:37] IlyaVorozhbit commented on #110
No, unfortunately, don't solve problem. You can close issue :(

[2019-12-17 06:56] mikejav commented on #112
[code]
I noticed that this bug may have something to do with turning off all the colors in the GIT tree.
Settings -> Version Control -> File Status Colors

![image](https://user-images.githubusercontent.com/25515470/70971870-3f7a6c80-20a2-11ea-9793-c00a8bd0c230.png)

[2019-12-17 07:08] mikejav commented on #112
My idea.log file weighs 3.5MB, I will try to review it later, because it may contain sensitive data of my company.
Or best of all I will send a file from my home computer (on Manjaro) where I only develop not significant personal projects :)

[2019-12-17 13:14] #110 closed, assigned to nobody

[2019-12-17 19:57] mikejav commented on #112
I added it to this repo:
https://github.com/mikejav/webstorm-logs

[2019-12-18 06:14] petrjahoda commented on #107
I will describe the problem better.
1. install the theme ... everything is OK
2. restart jetbrains product
3. after restart... UI is in one dark mode, that is good, but editor is not in one dark mode

Solution I found: after installing the theme:
1. Go to Editor-> Color Scheme, export the theme.
2. Restart
3. After that go back to Editor -> Color Scheme and select that exported theme and restart
4

[2019-12-18 06:14] petrjahoda commented on #110
Solution I found: after installing the theme:
1. Go to Editor-> Color Scheme, export the theme.
2. Restart
3. After that go back to Editor -> Color Scheme and select that exported theme and restart
4. After that bot UI and editor is in one dark mode

[2019-12-18 06:14] petrjahoda commented on #104
Solution I found: after installing the theme:
1. Go to Editor-> Color Scheme, export the theme.
2. Restart
3. After that go back to Editor -> Color Scheme and select that exported theme and restart
4. After that bot UI and editor is in one dark mode

[2019-12-18 11:11] Unthrottled commented on #112
Hey Friend! Thank you for your efforts!

So I was able to replicate this without having the one dark theme installed.
Turns out it is not the theme's issue but an issue with the platform itself. You where right about the correlation between the vcs colors and it being broken!

There is already an issue submitted, you can follow it there :)
https://youtrack.jetbrains.com/issue/IDEA-228312

[2019-12-18 11:55] mskelton commented on #112
@cyclic-reference Nice find!!  Since the issue is with the IDE itself, I'll close this issue.

[2019-12-18 11:55] #112 closed, assigned to nobody

[2019-12-19 12:19] Unthrottled commented on #111
@mskelton So I got something put together
https://github.com/cyclic-reference/themed-components/tree/master

I have the plugin attached to the release, if you wanted to give it a spin. I'll eventually get around to publishing it to the market place.

[2019-12-22 20:58] visini opened #115 "Issue with code highlighting"
Since 2019.3.1 code highlighting seems to be broken on mac, I only get weird colors.

[2019-12-22 22:35] mskelton commented on #115
Can you provide a screenshot?  Thanks!

[2019-12-22 22:38] Unthrottled commented on #115
Hey! I am having issues replicating the issue could you do this for me?

Please go to *Help -> About* and copy the infos

It should look a little something like this.

[code]

[2019-12-22 23:14] visini commented on #115
Thank you for your reply. See below:

[code]

![wed](https://i.imgur.com/x7goCIa.png)

[2019-12-24 08:16] truesik opened #116 "Broken rendering in DB Navigator when picking a connection color"
There are problems if database color is set:
![image](https://user-images.githubusercontent.com/13768781/71401677-a1574b00-263b-11ea-820b-207e9b71f2ee.png)

[code]

[2019-12-25 08:18] visini commented on #115
I found some further info, seems the color scheme of the theme is somehow not persistent. This is what I did:

1. Open PyCharm: The colors are a mix between One Dark theme and Darcula.
2. Uninstall One Dark theme and restart PyCharm.
3. Install One Dark theme: The colors are displayed correctly.
4. After closing and reopening PyCharm, the colors are changed back to a mix between One Dark theme and

[2019-12-25 13:53] #108 closed, assigned to nobody

[2019-12-25 14:13] Unthrottled commented on #115
Hey Friend! So I was able to reproduce and fix the issue.

Until @mskelton is able to release the fix, you can manually install the plugin.

You can find the binary attached to this release
https://github.com/one-dark/jetbrains-one-dark-theme/releases/tag/v3.3.2

You can follow the instructions for manual install here
https://one-dark.gitbook.io/jetbrains/the-basics/installation#manual

[2019-12-25 14:22] mskelton commented on #115
[v3.3.2](https://github.com/one-dark/jetbrains-one-dark-theme/releases/tag/v3.3.2) just released.  It will be a day or two before JetBrains approves the plugin and it is available.

[2019-12-25 14:45] mindyourlifeguide commented on #115
I just got update 3.3.2.
After updating and restarting, my color scheme was lost. Instead, Darcula became. I switched back to One Dark, but all my custom settings were gone.
Previously, when updating, all my settings were saved.
Can this be fixed somehow?
I have a backup of the system, so I can restore everything. But I will not install the update then.

[2019-12-25 14:47] Unthrottled commented on #116
Good Find!

However, this is not unique to this theme. It happens with all custom themes.
I filed an issue, you can track it here.

https://youtrack.jetbrains.com/issue/DBE-9857

[2019-12-25 14:54] Unthrottled commented on #115
@mindyourlifeguide I had the same thing happen to me.

1. Updated Plugin (Color scheme went back to darcula)
1. Restarted IDE
1. Changed Look and feel to Darcula
1. Changed look and feel back to previous one dark

I'll try and see why this is acting silly.

[2019-12-25 15:01] Unthrottled commented on #115
Okay, so I think it is an issue with the IDE's live update, when I get time I can submit an issue back to jetbrains.

[2019-12-25 15:21] mindyourlifeguide commented on #115
@cyclic-reference I rolled back the system, copied my `.WebStorm2019.3 / config / colors / _ @ user_One Dark.icls` file and updated the plugin. Everything repeated. But I just threw my file back again and it worked.

[2019-12-26 08:45] visini commented on #115
Updating to [v3.3.2](https://github.com/one-dark/jetbrains-one-dark-theme/releases/tag/v3.3.2) fixed the issue for me. Thank you very much for your help!

[2019-12-26 11:55] michaem opened #118 "Coral color is too darker and looks like compile errors"
One Dark Theme has one of the best color scheme among others themes in the Idea Market.
All colors consistently looks and same as there're in a Google Material Design.
But one color - 'coral', using for dynamic fields such as in Kotlin, looks too darker like 'compiler errors' in the default theme. Especially, when you share your code on different monitors and TVs without Retina display.
Some code

[2019-12-26 13:30] mskelton commented on #118
@michaem Thank you very much for your detailed write up and explanation.  The current hex color used for coral was picked to match with the color used in the original Atom One Dark theme.  Because the color matches with the Atom theme and other One Dark theme (i.e. VS Code), changing the coral color would not follow the goals of this theme to stay as true to the original theme as possible.

I'm al

[2019-12-26 16:46] michaem commented on #118
@mskelton Oh, thanks for answer! That's why I didn't created any pull-request before see your opinion. I'm understand that and thought too, that moving to another theme for one changing of color property not good decision.
Any way, I still will be use this theme and continue to help you by contributing some improvements, fixing bugs , if they will been found.

Thank you for answer! Merry Christmas

[2019-12-26 16:46] #118 closed, assigned to nobody

[2019-12-26 22:29] mskelton commented on #115
@visini Would you be willing to update your review on the plugin site now that the issue has been resolved?  Thanks!

[2019-12-26 22:30] mskelton commented on #118
Thank you for your understanding and for your willingness to give up some of your time to contribute to this theme.  This theme would not be where it is today without the help of the many people who have been so generous in opening issues and giving feedback on the theme.  Thank you!

[2019-12-27 13:43] visini commented on #115
Of course, I already updated it. Thanks for your help!

[2019-12-27 17:57] #115 closed, assigned to nobody

[2019-12-27 17:57] #116 closed, assigned to nobody

[2020-01-16 15:40] xelarion opened #119 "Issue with code highlighting in Goland 2019.3.1"
The problem is the same as in pycharm：

_Originally posted by @visini in https://github.com/one-dark/jetbrains-one-dark-theme/issues/115#issuecomment-568863798_

[2020-01-17 13:06] mskelton commented on #119
Thanks for reporting this.  I'll do my best to look into this over the weekend.

[2020-01-17 13:38] dewey commented on #119
Just confirming that I have the same issue, opened a bug at Jetbrains and they referred me here.

[code]

[2020-01-20 19:46] petrjahoda commented on #119
Solution I found: after installing the theme do this:

Go to Editor-> Color Scheme, export the theme.
Restart program
After that, go back to Editor -> Color Scheme and select that exported theme and restart
After that, both UI and editor is in one dark mode

[2020-01-20 19:48] petrjahoda commented on #119
Also... I found out, that program UI stays in One Dark, but only Editor coloring changes to Darcula, that solution described makes it work for Editor.

[2020-01-21 03:04] mskelton commented on #119
This should be fixed in [v3.3.3](https://github.com/one-dark/jetbrains-one-dark-theme/releases/tag/v3.3.3).  If not, please let me know.

[2020-01-21 07:47] petrjahoda commented on #119
Tested right now. Have to uninstall the theme via Plugins, restart and install again via Plugins.
But after that... it works like a charm.
Thank you very much.

[2020-01-21 11:57] xelarion opened #120 "Issue with code highlighting in Rubymine 2019.3.1 and 2019 3.2 RC"
I get weird colors in Rubymine 2019.3.1.
As the first picture shows：
![rubymine-issue](https://user-images.githubusercontent.com/28296509/72802156-1db66b80-3c86-11ea-9ccc-3876ac67d5c3.png)

The second picture is expected：

![rubymine-right](https://user-images.githubusercontent.com/28296509/72802822-97028e00-3c87-11ea-95fa-9ef8d63e268c.png)

[2020-01-21 11:57] #119 closed, assigned to nobody

[2020-01-21 14:27] mindyourlifeguide commented on #115
Today I received a notification about the available update OneDark
Just in case, I made a backup of the settings, updated and my color scheme was again lost.

[2020-01-21 16:14] mindyourlifeguide opened #121 "my color scheme was again lost"
Today I received a notification about the available update OneDark
Just in case, I made a backup of the settings, updated and my color scheme was again lost.

_Originally posted by @mindyourlifeguide in https://github.com/one-dark/jetbrains-one-dark-theme/issues/115#issuecomment-576706054_

[2020-01-21 23:49] mskelton commented on #121
What editor are you using?  From your comments I assume Webstorm but I want to make sure.

[2020-01-21 23:52] mskelton commented on #120
Ugh, I believe these are all related to https://youtrack.jetbrains.com/issue/GO-8117.  I know the solution but I was hoping it was less widespread, but it seems to be an issue for all IDEs.  I'll be publishing an update which updates all the IDEs to hopefully fix this wholesale.

Thanks for reporting this!

[2020-01-21 23:52] mskelton commented on #120
@all-contributors add @XanderCheung to bugs

[2020-01-22 20:42] mindyourlifeguide commented on #121
I apologize for not taking so long to answer.
Yes, I use Webstorm.

`WebStorm 2019.3.2
Build #WS-193.6015.40, built on January 21, 2020
Subscription is active until July 26, 2020
Runtime version: 11.0.5+10-b520.30 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 5.4.13-3-MANJARO
GC: ParNew, ConcurrentMarkSweep
Memory: 2000M
Cores: 4
Registry: ide.balloon.shadow.size=0, completion.stats.

[2020-01-25 05:55] mskelton commented on #120
This should be fixed in [3.3.4](https://github.com/one-dark/jetbrains-one-dark-theme/releases/tag/v3.3.4).  If you still have problems, please let me know.

[2020-01-25 05:55] #120 closed, assigned to nobody

[2020-01-25 05:55] mskelton commented on #121
This should be fixed in [3.3.4](https://github.com/one-dark/jetbrains-one-dark-theme/releases/tag/v3.3.4).  If you still have problems, please let me know.

[2020-01-25 05:55] #121 closed, assigned to nobody

[2020-01-25 13:55] mindyourlifeguide commented on #121
With update 3.3.4, the theme did not reset to darcula. And this is already good. But the reset of my customized colors is still happening.

[2020-01-25 14:17] mskelton commented on #121
I'm almost certain that the reset of the custom colors is not something that I can fix as the theme author.  That is something that is probably an issue with JetBrains itself.  Their method of overriding theme colors with user defined colors is pretty awful compared to other editors like VS Code which properly maintain overrides when themes are updated.  You could try filling an issue on https://y

[2020-01-25 14:22] mindyourlifeguide commented on #121
Yes, no problem, I’ll write to them.
I already do backup settings regularly)
Thanks for your work!

[2020-02-05 07:00] hj2060 opened #124 "when i restart webstorm theme changed"
# The installation is complete
![image](https://user-images.githubusercontent.com/9586285/73818213-d99b9d00-4827-11ea-816e-932a9245f025.png)
# when i exit ide and start ide theme has changed to the following
![image](https://user-images.githubusercontent.com/9586285/73818468-6c3c3c00-4828-11ea-89cd-63207f4a43fc.png)

[2020-02-05 23:20] mskelton commented on #124
Thanks for reporting this.  I'll take a look into this soon

[2020-02-09 20:22] mskelton commented on #124
@hj2060 I'm not seeing this behavior.  What version of the plugin and WebStorm are you using?

[2020-02-10 04:18] hj2060 commented on #124
webstorm version 2019.3.2  plugin version 3.3.4  maybe only me?

[2020-02-11 11:45] mskelton commented on #124
Now I'm seeing the issue

[2020-02-12 04:04] mskelton commented on #124
Looks like this issue should be fixed in IntelliJ 2019.3.4 (https://youtrack.jetbrains.com/issue/GO-8117).

[2020-02-12 08:32] napsterv commented on #95
@danilkhromov Hi, I am curious whether you were able to setup a light theme variant?

[2020-02-12 12:51] napsterv opened #125 "Improper colour assignment in PyCharm 2020.1"
![Screenshot from 2020-02-12 18-10-21](https://user-images.githubusercontent.com/8555852/74336506-60bab900-4dc4-11ea-8fcc-1fe283316bc5.png)

As from the image above, one is in blue, one is in red.

Plugin version: 3.3.4

[2020-02-13 05:35] hj2060 commented on #124
ok thanks~

[2020-02-24 07:53] idontgotit opened #126 "Text invisible when select Open file"
I enable One Dark version 3.3.4
Pycharm 2019.3
Macos high sierra 10.13.6

This is result when i click File -> Open:

<img width="1273" alt="Screen Shot 2020-02-24 at 2 48 55 PM" src="https://user-images.githubusercontent.com/12474525/75135780-372f5500-5715-11ea-8cd2-74edea7eefc8.png">
<img width="1273" alt="Screen Shot 2020-02-24 at 2 48 55 PM" src="https://user-images.githubusercontent.com/124745

[2020-02-25 03:08] mskelton commented on #126
I don't see this error on my machine.  Since it is finder, this is almost certainly an IDE issue rather than a theme issue.  Closing as such.

[2020-02-25 03:08] #126 closed, assigned to nobody

[2020-02-25 10:53] danilkhromov commented on #95
@napsterv unfortunately no, i started to play around with it but then i had little to no free time to continue with it. And later i lost interest in doing this, honestly

[2020-02-27 13:36] napsterv commented on #125
Yes.

[2020-02-28 12:18] Unthrottled commented on #125
@napsterv Do you have a sample project that reproduces this issue?

[2020-03-01 13:17] #124 closed, assigned to nobody

[2020-03-10 05:22] Rendok opened #127 "Poor colour scheme in CLion"
One dark scheme is very basic in CLion 2019.3.4 on Ubuntu 18.04.

CLion One Dark
![image](https://user-images.githubusercontent.com/39846664/76282193-296bf900-62eb-11ea-826f-2ebe4acd8313.png)

Visual Studio One Dark
![image](https://user-images.githubusercontent.com/39846664/76282228-4274aa00-62eb-11ea-8287-a6321e74ee9e.png)

[2020-03-10 11:47] mskelton commented on #127
Not sure if this would help, but could you try uninstalling and re-installing the theme and then selecting the theme again in the appearance/color theme settings?

I tried reproducing this on my machine and I'm not noticing what you are were the highlighting doesn't work so I'm a bit puzzled by this one.

[2020-03-11 01:09] Rendok commented on #127
Fixed it. I had an error in the CMake file that caused the problem.

[2020-03-11 01:09] #127 closed, assigned to nobody

[2020-03-13 02:42] mskelton commented on #125
Closing due to lack of response.

[2020-03-13 02:42] #125 closed, assigned to nobody

[2020-03-13 13:58] napsterv commented on #125
@Unthrottled @mskelton Apologies for my lack of response. I think the issue is not in the plugin but from JetBrains end instead. I opened a new bug and it got accepted [here](https://youtrack.jetbrains.com/issue/PY-40628).

[2020-03-23 22:45] zPrototype opened #128 "Color Brightness"
Hey guys first off all you did an amazing job! I wanted to ask if you plan on making the colors brighter? They are not like on the screenshots.. there is no difference between vivid and normal

[2020-03-24 00:00] mskelton commented on #128
Is One Dark Vivid selected in both the Appearance and Color Scheme sections?

[2020-03-24 00:04] zPrototype commented on #128
Yes it is. added some screenshots.
![colors](https://user-images.githubusercontent.com/43825360/77374581-61ebe800-6d6b-11ea-946d-4f8281f2cca6.png)
![setting1](https://user-images.githubusercontent.com/43825360/77374587-631d1500-6d6b-11ea-93e6-d56ab554aabb.png)
![setting2](https://user-images.githubusercontent.com/43825360/77374588-631d1500-6d6b-11ea-8cdb-ca2b1e8bc13a.png)

[2020-03-24 00:05] zPrototype commented on #128
Colors dont look as vibrant as in your screenshots. They have more of a matte pastel like feel to it.

[2020-03-24 02:15] mskelton commented on #128
I just took a screenshot on the latest version of IntelliJ.  Here is what I got.

<img width="1344" alt="2020-03-23_21-15-05" src="https://user-images.githubusercontent.com/25914066/77381275-76b88380-6d4b-11ea-92df-562fd4401e51.png">

[2020-03-26 18:55] #128 closed, assigned to nobody

[2020-03-29 22:58] HelloAndrewNgo opened #129 "Color scheme partially off"
I downloaded the plugin and can see the theme being applied, but I noticed that the color scheme is off.

As you can see the differences on the left (mine) and right (intended) sides of the photo.
The class names, methods, and variables are all grey.

![image](https://user-images.githubusercontent.com/37164595/77863190-47839580-71d5-11ea-8e1e-8e183a009c72.png)

Any help would be appreciated! I am

[2020-03-30 03:50] mskelton commented on #129
Typically this is an issue with the project, especially since it shows up properly in the settings window you show on the right.  I've noticed that if my project isn't loading properly it will not show up with proper syntax highlighting.

[2020-03-31 19:06] HelloAndrewNgo commented on #129
Hi Mark,

Thanks for getting back to me! Project files weren't being recognized as Java because it was located outside the source root. I was able to get the syntax highlighting by relocating the files into the source root.

https://stackoverflow.com/questions/43307532/auto-errors-detection-in-intellij-idea/43319356#43319356

[2020-03-31 19:06] #129 closed, assigned to nobody

[2020-04-14 15:58] IgorPropisnov opened #130 "Support for WebStrom 2020.01"
The Theme is currently not runnable with WebStorm 2020.01.

![deprecated](https://user-images.githubusercontent.com/22197464/79246488-938f3500-7e79-11ea-9efe-336ed04770ac.png)

Current WebStorm Version:

WebStorm 2020.1
Build #WS-201.6668.106, built on April 6, 2020
Runtime version: 11.0.6+8-b765.25 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

[2020-04-15 00:39] mskelton commented on #130
From your screenshot, it looks like you are using version 3.3.3.  Version 3.3.4 is compatible with 2020.1.  Could you try updating to that version?

[2020-05-01 11:54] thomasdot opened #131 "Colours aren't appearing correctly within Pycharm"
For me, colours are nowhere near accurate, other than splashes of blue and pink. I've attached screenshots of each.

Atom:
![atom](https://user-images.githubusercontent.com/19692934/80803581-a0ff2b80-8baa-11ea-9d8e-9c76c87cf334.png)

Pycharm:
![pycharm](https://user-images.githubusercontent.com/19692934/80803582-a3618580-8baa-11ea-8495-8eddbff5390c.png)

While I can edit most of this, my main conc

[2020-05-02 21:16] mskelton commented on #131
Unfortunately, this is just a limitation of PyCharm and the scopes it defines.  I wish that PyCharm and other JetBrains IDEs had better defined scopes similar to VS Code or Atom, but they just don't.

I'd recommend opening an issue on YouTrack (https://youtrack.jetbrains.com/issues) and ask the question there about why instance attributes aren't an identified scope.

[2020-05-03 08:21] thomasdot commented on #131
Okay thanks for the insight. Semantic formatting will help here, so there’s the trade off I suppose.

[2020-05-03 08:21] #131 closed, assigned to nobody

[2020-05-06 01:14] #130 closed, assigned to nobody

[2020-05-15 02:48] mskelton opened #135 "Migrate CI to GitHub Actions and Semantic Release"
https://github.com/tschulte/gradle-semantic-release-plugin

[2020-05-15 21:20] astrolemonade opened #136 "Pycharm EDU, theme contains only UI theme, the editor theme is missing"
Hello!
I am using Pycharm EDU.
I updated One Dark to the latest version and I noticed the editor theme disappeared but the UI theme remained applied.
![image](https://user-images.githubusercontent.com/35623921/82097065-dbb8a600-970a-11ea-89f4-092c2825e749.png)
![image](https://user-images.githubusercontent.com/35623921/82097087-e5420e00-970a-11ea-9801-8095244fd201.png)
![image](https://user-images

[2020-05-16 12:07] Unthrottled commented on #136
@cata0309
Hey! So I was not able to reproduce it on PyCharm EDU, but I was able to have something like that happen on Intellij when upgrading.

It looks like the IDE has a hard time doing a hot swap of the theme. It threw this exception:

[code]
I was able to fix this by restarting and re-applying the theme.

Did you have something like that happen? You can check the IDE's logs via `Help -> Show l

[2020-05-16 14:50] astrolemonade commented on #136
Yes, I have. Restarting and re-applying the theme works just fine.

[2020-05-16 14:50] #136 closed, assigned to nobody

[2020-05-16 14:51] mskelton commented on #136
Glad that fixed the issue!  JetBrains IDEs definitely have a lot of issues with updates randomly breaking things.  Looks like other theme authors have had the same issue:

https://intellij-support.jetbrains.com/hc/en-us/community/posts/115000444230-ERROR-rationStore-ComponentStoreImpl-Cannot-read-scheme-from-

[2020-05-16 20:37] mskelton opened #137 "Move docs back into the readme"
Having all the docs on an external site isn't great for users who need basic info about the theme.  Let's move the basic install/configuration docs into the readme.  Docs for screenshots, contributing, etc. can remain on the docs site.

[2020-05-16 20:54] mskelton opened #138 "Create FAQs in the docs"
Some issues come back up again and again.  This is due to issues in JetBrains IDEs themselves, but we should at least help out users who encounter these odd scenarios.  Below are the sections I would envision.

### Editor colors aren't showing up

The theme in the appearance tab gets out of sync with the color scheme in the editor color schemes tab.

- https://github.com/one-dark/jetbrains-one-dar

[2020-05-16 21:01] mskelton opened #139 "v4"
This theme has undergone some large improvements in the past where we added additional theme variants.  While these have been great, I would love to see a more settings based approach to configuring the theme.  I did this in https://github.com/one-dark/vscode-one-dark-theme and it worked very well.  The basic idea is you have three settings (vivid, italic, and bold) and then when the settings chan

[2020-05-23 00:26] Unthrottled commented on #139
@mskelton
Hey! I know that there is an `Italic` version, `regular`, and `vivid` version.
Do is there a bold version or is that mixed in with `italic`, `regular`, and `vivid`?

I just need to get an idea of what needs to be bold. Could just be as simple as making the things that are _italic_ in the `Italic` theme **bold**?

[2020-05-23 00:28] Unthrottled commented on #139
Oh yeah, I've also got the `vivid`/`regular` setting working.

I still have quirks to fix but it looks something like this:
![Peek 2020-05-22 19-21](https://user-images.githubusercontent.com/15972415/82717531-44030c80-9c62-11ea-90da-d9db4c61a4d2.gif)

[2020-05-23 00:38] mskelton commented on #139
We can probably hold off on bold for the 4.0 release and do it in a 4.x release since we don't currently have a bold theme.  That said, what I did in the VS Code theme was bold function names, class names, and namespace names.

Looking really good by the way!

[2020-05-25 03:54] mskelton opened #141 "Update Alex's All Contributors status"

[2020-05-25 03:54] mskelton commented on #141
@all-contributors add @Unthrottled to code

[2020-05-25 04:02] #141 closed, assigned to nobody

[2020-05-26 17:01] hosamaly opened #144 "Keywords are highlighted inside Ruby comments"
Hi. Thanks for the beautiful theme!

I noticed that some keywords are highlighted in single-line comments, which can be distracting. Block comments, however, are not affected by this issue.

Here is a screenshot from RubyMine 2020.1.1:
![image](https://user-images.githubusercontent.com/330633/82927505-b6ccfa00-9f78-11ea-870e-3d44e62b7a1a.png)

I tried to compare the configuration to a couple of ot

[2020-05-26 22:16] Unthrottled commented on #144
Hello Friend! Thank you for taking the time to submit this issue.

However, this a feature of RubyMine :)

https://youtrack.jetbrains.com/issue/RUBY-17761#focus=streamItem-27-1288415.0-0

![Peek 2020-05-26 17-13](https://user-images.githubusercontent.com/15972415/82955478-897e4d00-9f74-11ea-84eb-0eb6f8e064fc.gif)

Thanks!

[2020-05-26 22:16] #144 closed, assigned to nobody

[2020-05-28 04:09] dorudumitru opened #145 "Italic for HTML Attributes"
Is it possible to add italics for HTML Attributes?

Example:

One Dark
![jetbrains](https://user-images.githubusercontent.com/11142539/83097808-ae2c0f00-a0b1-11ea-9a19-0624d3c32962.png)

Monokai
![jetbrains-monokai](https://user-images.githubusercontent.com/11142539/83097953-006d3000-a0b2-11ea-977c-61790e9ea95d.png)

[2020-05-28 21:52] Unthrottled commented on #145
I like the idea, what about you @mskelton ?

[2020-05-29 01:24] mskelton commented on #145
I'm definitely open to it.  As I mentioned in the issue you opened in the VS Code theme, I'm still waffling on if this should be a separate setting.  I'm leaning towards a separate setting, but I'm open for suggestions.

@Unthrottled Thoughts on a separate setting?  If so, this would fit well into v4.

[2020-05-29 09:15] Unthrottled commented on #145
@mskelton  :thinking: Hmm, I can see that. I suppose if we come up with groups that can be _italicized_, then yeah, it makes sense.

[2020-05-30 21:37] mskelton commented on #145
What exactly do you mean by this?  I'm not sure I follow.

[2020-05-30 22:18] Unthrottled commented on #145
@mskelton

Something like:

| Groups | Style |
| --- | --- |
| Reserved Words |   _Italic_ |
| Attributes | **Bold Italic** |

Rather than have an `Italic` and a `Html Attributes Italic` just provide a group of abstractions you can apply a style to, if that makes sense.

[2020-06-02 01:27] mskelton commented on #145
Gotcha, that makes sense.

[2020-06-03 00:01] Unthrottled commented on #145
@mskelton Let's hold up on v4 until I get done with this feature. I'm re-imagining the current settings.

This way I don't have to write 2 migrations.

Here is the idea, it might look a bit different and with different items in the combo box.

![Screenshot from 2020-06-02 18-59-18](https://user-images.githubusercontent.com/15972415/83581049-57846200-a503-11ea-8fc1-dd99c73e7a62.png)

[2020-06-03 00:02] mskelton commented on #145
Fancy!  Sounds good.  I'm working on migrating the CI from Travis to GitHub actions and then I'll be working on the docs.  I don't plan on releasing until I get the green light from you.

[2020-06-04 23:10] Unthrottled commented on #135
Are you closing these once v4 is in master?

[2020-06-04 23:10] mskelton commented on #135
Either way is fine.  Now or later 🙂

[2020-06-05 00:09] Unthrottled opened #147 "Add Error Reporter"
Since the plugin now has moving parts, things can now break.

It would be helpful if this plugin would implement the error reporter and post messages to some place where we can see it and triage the issue.

[2020-06-09 05:16] AlexandrDev opened #150 "Highlights when a file is opened from a Remote Host (double-click)"
Example: I'm open js file from Remote Host (ftp server) and syntax highlights works not correctly. But if I download file and open from local storage, highlights wokrs correctly. No functions, vars highlight.
![2020-06-09_11-17-44](https://user-images.githubusercontent.com/7019034/84108850-044e6a00-aa43-11ea-8a58-2c13d537559d.png)
![2020-06-09_11-18-18](https://user-images.githubusercontent.com/70

[2020-06-09 09:27] Unthrottled commented on #150
Hey friend!

This is most likely an issue with your project set up and not the plugin.

IntelliJ Probably needs to be configured to recognize your files from your remote host as part of the sources, so it can do all the smart stuff.

Try something like this, please: https://stackoverflow.com/questions/43307532/auto-errors-detection-in-intellij-idea/43319356#43319356

[2020-06-09 11:42] Flixt opened #151 "Compatibility with IDEA 2020.2 (EAP)"
It seems the plugin is currently not compatible with the 2020.2 version of IntelliJ IDEA (currently in EAP).
What needs to be done, to get it compatible? I would be happy to help out, but would need a   hint for a starting point.
Currently the incompatibility is, what prevents me from using 2020.2 EAP, which is not the worst thing ever. I just love the code style the this theme provides and don't

[2020-06-09 22:31] Unthrottled commented on #151
Hey Friend!

Thank your for your interest in helping!

So to make the plugin compatible with the builds `202.* `, all that needs be done is to re-build the plugin, that will pick up the `LATEST-EAP-SNAPSHOT`.

@mskelton Do we plan on releasing any more `v3.X` versions of the plugin before `v4` ?

For the time being, if you are extra motivated and want it to work on your machine:

1. [Follow the in

[2020-06-10 00:38] #147 closed, assigned to Unthrottled

[2020-06-10 00:38] #135 closed, assigned to mskelton

[2020-06-10 00:40] mskelton commented on #139
Going to close this in favor of the other v4 issues we have already in progress.

[2020-06-10 00:40] #139 closed, assigned to Unthrottled

[2020-06-10 00:40] mskelton commented on #151
@Unthrottled I'll kick off a release on master.

[2020-06-10 00:44] mskelton opened #152 "Use the GitHub release notes for the plugin changelog"
Currently, we have the changelog file in the root of the repo which is used as the change notes.  However, this doesn't show up very nicely in the change notes on the plugin page: https://plugins.jetbrains.com/plugin/11938-one-dark-theme/versions

Let's update the build process to pull the change notes from the GitHub release.

[2020-06-10 01:08] mskelton commented on #151
Just published version 3.3.6 which should work on 2020.2

[2020-06-10 11:57] Flixt commented on #151
Works like a charm. Thank you!

[2020-06-10 11:57] #151 closed, assigned to nobody

[2020-06-16 01:16] mskelton commented on #145
Closing now that this is merged into the v4 branch.  It will be live once we finish the v4 milestone and release it.

[2020-06-20 14:53] Unthrottled commented on #150
@AlexandrDev Any updates on figuring out how to add those files as known project sources?

[2020-06-20 15:07] Unthrottled commented on #152
@mskelton
I'm not quite sure I understand what problem you are trying to fix.

![Screenshot from 2020-06-20 10-05-58](https://user-images.githubusercontent.com/15972415/85204953-b147a300-b2dd-11ea-8571-d0bb00788ce8.png)

This is what it looks like right now.

[2020-06-20 15:11] Unthrottled commented on #145
@mskelton Are we still doing that _all contributors_ stuff? Does it work if I ask it to do stuff?

[2020-06-20 16:31] mskelton commented on #145
@Unthrottled Yes and yes!

[2020-06-20 16:45] mskelton commented on #152
My thought was we really only need to include the release notes in the most recent release rather than including the last three releases.  Mostly because the "What's new" really refers to what's new in **this** release, not what's new in the **last few** releases.

[2020-06-20 20:26] Unthrottled commented on #24
@all-contributors add @dorudumitru to ideas

[2020-06-20 20:38] Unthrottled commented on #152
That makes sense.

I guess I'm used to publishing releases every so often. I just batch up all my small change releases and publish them every so often. Rather than publishing every time I release (which I find annoying having to constantly update a plugin I've installed :)

[2020-06-20 22:13] mskelton commented on #152
Publishing and releasing are synonymous in this repo since creating a GitHub release will publish to the JetBrains marketplace.

[2020-06-21 00:58] #137 closed, assigned to Unthrottled

[2020-06-21 22:29] #138 closed, assigned to Unthrottled

[2020-06-25 22:04] #152 closed, assigned to Unthrottled

[2020-06-30 09:09] #145 closed, assigned to Unthrottled

[2020-06-30 10:00] Unthrottled opened #161 "WebStorm not showing colors"
Webstorm `Build #WS-201.7846.79, built on June 2, 2020` doesn't have the Groovy Util bundled, so the plugin cannot create themes on the fly (the EAP has it though).

[code]

[2020-06-30 10:33] Narven commented on #161
One of the most beatiful themes and one I've been using for ages.... and yet after every single update, it fails to update the UI, and I have to go and change to some other theme and back... sereval times. I think that the next time this theme works... all future updates will be blocked.

It's really hard to understand how its possible to 😡 every single update. Either on linux or mac.

[2020-06-30 10:33] Narven commented on #161
I dont undertand java... but please let me know if there is anything I can do.

[2020-06-30 10:48] Unthrottled commented on #161
@Narven Hey! So you've got a couple option until the fix goes out.

You can:
- Update your WebStorm to the 2020.2 EAP (which fixes the issue)
- Manually install v3.3.6 [following these instructions](https://one-dark.gitbook.io/jetbrains/the-basics/installation#manual) (replacing the latest release with the v3.3.6 version)

Thank You for your patience :smiley:

[2020-06-30 10:48] #161 closed, assigned to nobody

[2020-06-30 11:01] Narven commented on #161
@Unthrottled thanks for the feedback

I really dont understand why the latest version only works in a EAP version. Shouldnt it work first on a stable version? or is not possible to bound the plugin version to a specific webstorm version?
I only work with stable versions of software (my work depends on it), I'm not going on a EAP just because of a plugin.

And for people that use multiple jetbrains

[2020-06-30 11:01] Unthrottled commented on #161
Alright, fixes are live and I verified that the issue has been fixed.

[2020-06-30 11:05] Narven commented on #161
Yeap, after update and restart, it seams to be working. Thanks

[2020-06-30 11:05] Unthrottled commented on #161
@Narven

Ah, so what the issue was is that I used a library that was only provided by the EAP version of the Idea platform. So when you installed it on the older Idea platform, the plugin could not use the library (because it was not there yet). So I just bundled it with plugin and that way the plugin always has it.

[2020-06-30 12:53] Unthrottled opened #163 "JetBrains 2019.X Bug: Settings Menu Not showing Up"
**Describe the bug**

Settings Menu not showing up.
**To Reproduce**

1. Go to the `One Dark Theme` settings menu.

**Expected Behavior**

To be able to view the settings

**Environment**

[code]
Really any 193.xx build for any platform.

[2020-06-30 12:58] Unthrottled commented on #163
[Related Stacktrace](https://sentry.io/share/issue/9d6527bd99af461195485c749b748be9/)

Unfortunately, the [Intellij Kotlin UI DSL](https://www.jetbrains.org/intellij/sdk/docs/user_interface_components/kotlin_ui_dsl.html) has breaking changes from the 2019 to 2020 builds.

I forgot to cap the release to the 2020 builds. So anybody who is on 2019 of any product (pycharm, intellij, etc) will have thi

[2020-06-30 13:00] mskelton commented on #163
Could we checkout an old version of the repo and manually publish a release capped at the latest 2019 release?

[2020-06-30 13:03] chengziorange opened #164 "Settings Menu Not showing Up In Android Studio"
**Describe the bug**

Similar to #163 , settings menu not showing up.

**To Reproduce**

1.Go to the `One Dark Theme` settings menu.

**Expected Behavior**

To be able to view the settings

**Environment**

Android Studio 4.0
Build #AI-193.6911.18.40.6514223, built on May 20, 2020
Runtime version: 1.8.0_242-release-1644-b01 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0
GC:

[2020-06-30 13:05] Unthrottled commented on #163
@mskelton

I don't know how the platform updates their components, but I think it takes the highest version that is compatible with the platform. If we were to release v3.3.7 (capped at 191), I don't know if the update will take.

It would be weird if we released 4.0.1-2019 that was only compatible with the 2019 builds only (but it might work).

[2020-06-30 13:11] Unthrottled commented on #164
Thank you for submitting this issue @chengziorange ! This is exactly what #163 references.

In the meantime, you can [follow these instructions](https://github.com/one-dark/jetbrains-one-dark-theme/issues/163#issuecomment-651774044) for a work around.

For the first option you can replace upgrading 2020 to upgrading to [4.1 Beta 2](https://developer.android.com/studio/preview/?gclid=CjwKCAjwxev3BR

[2020-06-30 14:41] chengziorange commented on #164
I directly edited the plugin's config file, still the setting menu didn't show up, but the config worked fine. Maybe this is helpful for those who don't want to upgrade their Android Studio to preview ver.
The config file path is `C:\Users\MyUsername\.AndroidStudio4.0\config\options\one_dark_config.xml`, and my config is as below
[code]

[2020-06-30 14:45] Unthrottled commented on #164
@chengziorange Thanks! That will work for the time being!

For other products [this is where you can find where the configuration directories are at.](https://intellij-support.jetbrains.com/hc/en-us/articles/206544519-Directories-used-by-the-IDE-to-store-settings-caches-plugins-and-logs)

[2020-06-30 23:42] mskelton commented on #163
@Unthrottled up to you.  Feel free to publish if you want or leave it as is.

[2020-07-01 00:02] Unthrottled commented on #163
@mskelton I'll probably just for the time being, publish a 2019.x only version (off a separate branch) that fixes the existing issues. Then I'll cap v4 to only be 2020.x after that. That way the 2019 builds will get the last one-dark update, and 2020 will be the current supported platform.

Provided it is possible to release without affecting the 2020 users.

[2020-07-01 06:47] PrasadU opened #168 "v4.0.1 fails to install properly, throws startup errors"
**After the latest v4.0.1 update IDEA. failed to start with below error msg **

[code]

**To Reproduce - Update**
Start with IDEA v2020.1 with one dark theme v4.0.0
Go to the plugins panel, the plugin update alert comes for v4.0.1 - then update

**Expected Behavior**
normal plugin update

**Actual**
IDEA popped-up a msg that the entire plugin was removed.

**To Reproduce - Install**
Install the v4

[2020-07-01 10:34] Unthrottled commented on #163
@mskelton I am not going to support the configurable settings for the 2019 builds. Too many API differences between 2020.

So I opted to create a 4.0.3-2019 version that:

- Has the compatibility locked from 191 to 193.*
- Has all the code from v3.3.6 (the variants and no kotlin stuff)

I made it a version higher than the current one published, so that way the users will automatically upgrade to t

[2020-07-01 10:36] Unthrottled commented on #163
You can find the branch I made changes on here: https://github.com/one-dark/jetbrains-one-dark-theme/compare/v4-2019-revert

[2020-07-01 11:01] Unthrottled commented on #168
Very curious, I think this may be isolated to your machine.
Here is what I have:

[code]

I am able to restart the IDE, and it starts up just fine.

I even ran `rm -rf ~/Library/Caches/JetBrains/IntelliJIdea2020.1/plugins/` and it still started fine. I even cleared the entire cache directory `rm -rf ~/Library/Caches/JetBrains/IntelliJIdea2020.1/` and it still started.

Could you try clearing out t

[2020-07-01 11:05] Unthrottled commented on #168
If that does not work.

[Could you follow these instructions and install v4.0.1 manually, please?](https://one-dark.gitbook.io/jetbrains/the-basics/installation#manual). Let me know what that does for you.

Thank you!

[2020-07-01 12:41] mskelton commented on #163
Just uploaded the build.  everything looks good from the plugin page, but you may want to double check that 2020 IDEs don't get the update.

<img width="598" alt="Screen Shot 2020-07-01 at 7 40 05 AM" src="https://user-images.githubusercontent.com/25914066/86244813-22a11480-bb6e-11ea-82fa-55fb164bb002.png">

[2020-07-01 12:47] PrasadU commented on #168
A second attempt (via plugins panel) worked. So it may be just be an intermittent n/w error in download. You can close the this issue if it was just me. Thanks.

[2020-07-01 13:08] Unthrottled commented on #163
@mskelton Thanks! That worked, the 2019 ides get the patch and the 2020 ides are not prompted to upgrade! :confetti_ball: :partying_face:

I'll clean up the issues later today. Thanks Again :)

[2020-07-01 22:14] Unthrottled commented on #163
Everything appears to have quieted down since the 2019 deploy. I think things may be good. I'll close this issue later this week, just in case the folks who have not upgraded know that they will need to update to the version that does not have configurable settings.

[2020-07-01 22:21] Unthrottled commented on #164
Thank You for your patience and for submitting this issue.

Unfortunately, Android Studio 4.0 and any 2019.x version of JetBrain's products (intellij, webstorm, golang,etc) should have not received the v4 update of the One Dark theme. This is due to too many breaking changes between the platform APIs and a maintenance nightmare.

Instead, I opted to publish `v4.0.3-2019` which has all the code fro

[2020-07-01 22:21] #164 closed, assigned to nobody

[2020-07-01 22:23] Unthrottled commented on #168
I am glad re-installing the plugin worked for you! I have not observed any other related errors that might have been related to this. I'll say that this is a one-off issue for the time being.

Thanks for taking the time to submit this issue!

[2020-07-01 22:23] #168 closed, assigned to nobody

[2020-07-02 02:39] hongsefb opened #169 "The plugin is conflict with Indent Rainbow."
**Issue**
The theme plugin is conflict with Indent Rainbow. When you enable one dark theme, a pycharm plugin named Indent Rainbow doesn't work. And when you disable one dark theme in pycharm ,then Indent Rainbow works normally.

**Expected Behavior**
I expect one dark theme plugin is compatible with Indent Rainbow.

**Environment**
PyCharm 2020.1.2 (Professional Edition)
Build #PY-201.7846.77, bui

[2020-07-02 09:24] Unthrottled commented on #169
Hey, Thanks for bringing this to my attention!

:thinking: Hmm, looks like I may need to revisit how the color themes are applied.

Until then, I have a work around you can use, if you want:

1. Navigate to the `Settings > Editor > Color Scheme`
1. If `One Dark Generated` is the current scheme then click the :gear:
1. Select `Duplicate`
1. Apply the setting.

![Peek 2020-07-02 04-22](https://user-

[2020-07-02 12:50] erikdewit87 opened #170 "Custom colors reset each time Intellij restarts"
**Describe the bug**

Each time Intellij starts custom colors are reset to their defaults. For example: I use custom console colors for Android logcat as their default colors are the same for debug/verbose/info and error/assert. Each time Intellij starts a new "One Dark Generated" color scheme is generated and applied which contains default colors.
![image](https://user-images.githubusercontent.co

[2020-07-02 13:11] Unthrottled commented on #170
Hey! That should have worked. I put code in that should detect if you import/duplicate the theme. I'll have to look into why it is not working. Thanks!

I could also add your logcat colors as well, if you want.

[2020-07-02 14:00] erikdewit87 commented on #170
I think these are reasonable defaults for android logcat.
Actually I copied them from: "Console Colors"->"Log console" ->"debug/verbose/info/warning/assert"
The defaults point to "Console Colors"->"Console"->"Standard output" (white)

[2020-07-02 14:31] Unthrottled commented on #170
@erikdewit87

I have some work arounds for the time being (If you feel like some extra steps to get this to work).

If you could import the your icls file you attached, that will (should) trigger the `do not overwrite` code. (It worked for me)

<img width="448" alt="Screen Shot 2020-07-02 at 9 08 53 AM" src="https://user-images.githubusercontent.com/15972415/86369440-0f607880-bc44-11ea-9627-46f179

[2020-07-02 14:32] Unthrottled commented on #170
I will take that as a "yes"? 😄

[2020-07-02 19:34] skrubbel opened #171 "Problem with theme persistence in Pycharm 2020.1.2 on Windows 10 Pro"
This is my absolute favourite theme for Pycharm and Rider - Thank you for that. But I have had to uninstall it after upgrading to the latest version.

Steps of reproduction:

1.  After the upgrade I select the theme under Settings -> Appearance & Behaviour -> Appearance -> Theme
2. When I look at Settings -> Editor -> Color Scheme -> Scheme a scheme with the title "One Dark Generated" appears.
3.

[2020-07-02 21:22] tesla1volt opened #172 "Theme is not working properly after the latest update"
![one_dark_1](https://user-images.githubusercontent.com/67409062/86410043-ee614d00-bc6e-11ea-98eb-b69acf7743d2.png)
![one_dark_2](https://user-images.githubusercontent.com/67409062/86410046-f02b1080-bc6e-11ea-9703-16aafd91cf3f.png)

**Describe the bug**

Theme is broken in Intellij IDEA after updating to version 4.0.1. There is this white window color coming up in the Idea.

**To Reproduce**

1. I

[2020-07-02 21:35] Unthrottled commented on #172
Hey! So I was able to reproduce this issue on the Mac, but not Linux. It is unreliable at the moment.

I was able to temporarily fix the white crazyness by:

1. Setting the theme to `Darcula` (it will still be white)
1. Setting the theme back to `One Dark` (Still White)
1. Restart Intellij.

Let me know if that works for you. I'll have a fix out for this some time later this week.

[2020-07-02 21:37] Unthrottled commented on #172
If that does not work you can manually install v3.3.6.

[Here is how to manually install](https://one-dark.gitbook.io/jetbrains/the-basics/installation#manual). You can replace the `current release` with the assets from [v3.3.6](https://github.com/one-dark/jetbrains-one-dark-theme/releases/tag/v3.3.6)

Thank you for your patience and understanding.

[2020-07-02 21:39] Unthrottled commented on #172
Related to #171

[2020-07-02 21:42] Unthrottled commented on #171
Hey! I have a couple of workarounds you can try, before I get a solid fix out for this. This is a tricky bug that only happens after first install (I've had a hard time trying to reproduce it).

If you want to give v4 a second chance, [you can try this](https://github.com/one-dark/jetbrains-one-dark-theme/issues/172#issuecomment-653230480) That worked for me when I got stuck.

If you don't want to

[2020-07-03 05:55] kwiat1990 commented on #172
I have that Bug on Ubuntu 18.04, so it exists on Linux as well. Your solution with switching themes did not work for me though. What bothers me is the fact that the Bug breaks now any other theme I have already installed (with new ones I didn't try) and even default themes from IntelliJ!.

[2020-07-03 06:14] skrubbel commented on #172
I'm not sure if this part of the cause, but it appears that activating the theme results in both a "One Dark" and a "One Dark Generated" color scheme. Switching from "One Dark Generated" to "One Dark" seems to trigger an unstable color scheme e.g. I have seen the editor switch to Darcula between start-ups and getting the white "noise" UI. Also after selecting "One Dark" the "One Dark Generated" op

[2020-07-03 11:07] Unthrottled commented on #172
@kwiat1990 I have seen it on my Ubuntu box as well (when developing), I just can't reliably reproduce it.

Who would have guessed using un-documented platform APIs would have such unintended consequences :sweat_smile:

[2020-07-03 11:10] Unthrottled commented on #172
@skrubbel

Thank you for the info! I have a fix that I am going to test across all environments.

This version will not set the look and feel (which causes the corruption) of the IDE to change the editor color scheme. Instead it will just replace the color scheme directly, that way the chances of the IDE messing up and becoming white is removed.

[2020-07-03 19:38] skrubbel commented on #172
@Unthrottled
Just installed the new version in Pycharm, and things are looking much better. I have done quite a few re-starts of Pycharm, and no quirks so far. I see the vivid & vivid italics options are back which is great. Thanks for the speedy response - Nice work!

[2020-07-04 14:44] Unthrottled commented on #172
@skrubbel Thanks!

I decided to revert the configurable theme options in favor of a consistent and reliable theme user experience. Please upgrade to the stable v5.0.0.

 I find that this issue is unacceptable to have at the moment. I will re-visit the configurable theme options in a later date, when I have more time to flesh out all of the quirks of making the platform have configurable themes.

T

[2020-07-04 14:44] #172 closed, assigned to nobody

[2020-07-04 14:45] Unthrottled commented on #170
I decided to revert the configurable theme options in favor of a consistent and reliable theme user experience. Please upgrade to the stable v5.0.0.

I found other issues that are unacceptable to have at the moment. I will re-visit the configurable theme options in a later date, when I have more time to flesh out all of the quirks of making the platform have configurable themes.

I have also inclu

[2020-07-04 14:45] #170 closed, assigned to nobody

[2020-07-04 14:46] Unthrottled commented on #171
I decided to revert the configurable theme options in favor of a consistent and reliable theme user experience. Please upgrade to the stable v5.0.0.

 I find that this issue is unacceptable to have at the moment. I will re-visit the configurable theme options in a later date, when I have more time to flesh out all of the quirks of making the platform have configurable themes.

Thank you for your p

[2020-07-04 14:46] #171 closed, assigned to nobody

[2020-07-04 14:48] Unthrottled commented on #169
I decided to revert the configurable theme options in favor of a consistent and reliable theme user experience. Please upgrade to the stable v5.0.0.

I found other issues that are unacceptable to have at the moment. I will re-visit the configurable theme options in a later date, when I have more time to flesh out all of the quirks of making the platform have configurable themes.

Thank you for you

[2020-07-04 14:48] #169 closed, assigned to nobody

[2020-07-04 14:50] Unthrottled commented on #150
Considering that this is an issue with the platform itself and not the one dark theme, I am going to close this issue.

Let me know if you need any help figuring out your issue.

[2020-07-04 14:50] #150 closed, assigned to nobody

[2020-07-04 14:56] Unthrottled opened #175 "Restore Theme Variants"
Cleanup the fallout of v4.X and migrating back to the stable theme variants

- [x] Remove configuration code. (keep update notifications and stuff)

- [x] Migrate gradle tasks to build theme variants.

- [x] Update documentation/changelog and images.

[2020-07-05 02:18] tesla1volt commented on #172
@Unthrottled
Works with v5.0.0. Thank you for fast response.
Those options to configure themes separately was cool option thought.

[2020-07-05 22:40] Unthrottled commented on #172
@tesla1volt
You are welcome! Sorry for giving you a broken release. I have the separate configurations planned for a later release in the future, when I worked out all of the bugs.

[2020-07-10 23:56] Unthrottled commented on #163
The sentry logs are getting quite, so I think everybody is migrated over.

[2020-07-10 23:56] #163 closed, assigned to nobody

[2020-07-11 15:25] Antoshkiv opened #177 "syntax highlighting"
Will you make the theme more similar to vs code in the future?
I like your theme and webstorm but in vs code this theme is better
syntax highlighting is better readable in vs code

<img width="870" alt="Знімок екрана 2020-07-11 о 18 21 34" src="https://user-images.githubusercontent.com/43931364/87227455-bdd28f00-c3a3-11ea-9392-bddf8e136718.png">
<img width="870" alt="Знімок екрана 2020-07-11 о 18

[2020-07-12 22:49] mskelton commented on #177
What specifically do you like about the VS Code theme?  BTW, the VS Code theme you are showing is not the one I maintain :) It must be a different one.

[2020-07-13 05:27] Antoshkiv commented on #177
Oh sorry, I was wrong but in that theme which you support for example function setState(setLoading) is always blue it is easy to see in the code

[2020-07-13 21:03] Unthrottled commented on #177
@Antoshkiv
![image](https://user-images.githubusercontent.com/15972415/87353212-fd26ea00-c521-11ea-9bf3-6e48c82fbf15.png)
:point_up: Is that it or is there more?

I haven't seen much of the VS Code theme. I do think that having a consistent experience between the IDE's is cool.

Also an example/open-source project would be most helpful.

[2020-07-14 03:41] mskelton commented on #177
VS Code uses semantic highlighting to determine that `setLoading` is a function which is why it's colored blue.  @Unthrottled Does JetBrains handle highlighting differently?  I'm pretty sure functions in this theme are blue, so if `setLoading` isn't blue it must be how JetBrains handles highlighting.

[2020-07-14 07:04] Antoshkiv commented on #177
@Unthrottled  you're right that's what i meant

[2020-07-14 09:47] Unthrottled commented on #177
![image](https://user-images.githubusercontent.com/15972415/87410047-6e4eb780-c58b-11ea-9f01-7dbd8d185d01.png)

:thinking: Looks like the grammar is not that smart at the moment. It thinks that the destructured function reference is a `JS:IDENTIFIER`. So I am thinking that it is a current limitation of the platform. When the grammar evolves then we should be able to apply the appropriate colors.

[2020-07-14 10:00] Unthrottled commented on #177
![image](https://user-images.githubusercontent.com/15972415/87411880-f46bfd80-c58d-11ea-904f-1a42c6267cc8.png)

I also looked into the `cart.js`. The IDE apparently recognizes it a global variable, so it should have a color.

This is my IDE:

[code]

It also does the same coloring on:

[code]

[2020-07-14 10:05] Unthrottled commented on #177
@Antoshkiv Is there anything else? It currently does not look like we can do much on the theme side.

I have been checking to see if things can be changed by using the [Jump to Colors and Fonts](https://www.jetbrains.com/help/idea/configuring-colors-and-fonts.html#ddb454a0) which allows you to easily customize the coloring.

[2020-07-14 11:22] Antoshkiv commented on #177
@Unthrottled thanks for the explanation, now i understand the problem.

[2020-07-15 23:19] Unthrottled commented on #177
I'll see what I can do. If I can't get anything reasonable by the 25th of July, I'll close this issue.  Thank you for your suggestion!

[2020-07-18 16:41] #175 closed, assigned to nobody

[2020-07-18 16:48] Unthrottled commented on #24
Imma backfill the all contributors. Sorry about all of the noise folks!
![hold onto your butts!](https://1.bp.blogspot.com/-q3ezICNiaSA/VTkydwtF8ZI/AAAAAAAABjU/44e0dsI8jZs/s1600/Jurassic-Park-33-Hold-on-to-your-butts1.jpg)

[2020-07-18 16:50] Unthrottled commented on #24
@all-contributors add @chengziorange for bugs

[2020-07-18 16:57] Unthrottled commented on #24
@all-contributors add @hongsefb for bugs

[2020-07-18 17:05] Unthrottled commented on #24
@all-contributors add @erikdewit87 for ideas, bugs

[2020-07-18 17:12] Unthrottled commented on #24
@all-contributors add @skrubbel for bugs

[2020-07-22 02:24] AsiaChampion opened #182 "folder icon"
[Screenshots](https://github.com/one-dark/jetbrains-one-dark-theme/raw/master/docs/screenshots/default.png)
Will you tell me how to set the similar folder icon?

[2020-07-22 09:12] Unthrottled commented on #182
I am fairly confident that it is the [Atom Material Icons Plugin](https://plugins.jetbrains.com/plugin/10044-atom-material-icons). @mskelton Is that right?

I can add that to the documentation.

[2020-07-22 09:28] AsiaChampion commented on #182
@Unthrottled  Great! thank you very much!

[2020-07-22 09:28] #182 closed, assigned to nobody

[2020-07-26 15:17] Unthrottled commented on #177
So I was not unsuccessful in my attempt for finding a simple solution. Thank you for the idea though, I'll keep my eye out for the feature in the future!

[2020-07-26 15:17] #177 closed, assigned to nobody

[2020-08-04 07:51] jlopez-gc opened #183 "Database icons have a visual glitch when db connection has a background color"
**Describe the bug**
The icons used to interact with a database table are not properly displayed when the database connection has a background color. (Please check screenshots to know what I mean when I say "not properly displayed")

**To Reproduce**
1. Install and activate One Dark Theme
2. Go to a database connection with a background color
3. Hover over the buttons

**Expected Behavior**
The ic

[2020-08-04 09:16] Unthrottled commented on #183
Thank you for taking the time to make a very descriptive and helpful issue!

However, this is not unique to this theme. It happens with all custom themes.
I filed an issue, you can track it here. Please vote for it if you can!

https://youtrack.jetbrains.com/issue/DBE-9857

Related to #153 and #116

Maybe I should look into the fix myself sometime and submit a PR? :thinking:

[2020-08-04 09:16] #183 closed, assigned to nobody

[2020-08-04 09:26] jlopez-gc commented on #183
Thanks for your fast response. Upvoted the issue, I'm very sorry for duplicating this item. My search for a related issues was not thorough enough :(

Have a nice day and keep the good work :)

[2020-08-04 09:28] Unthrottled commented on #183
No worries and thank you for understanding!

If I can fix it myself, I'll keep you posted on the issue. Thanks!

[2020-09-21 21:32] Unthrottled opened #187 "Enable distinguishable VCS Current Branch highlighting"
First of all thanks for this cool theme! I really like it, however there is one issue I'd like to report.

Built in themes like Darcula visualize commits that are not part of current branch by highlighting them. Unfortunately this feature is not working with "One Dark theme" where all the commits look the same regardless if "Current branch" highlighting is selected or not. Below I post a screensho

[2020-09-28 10:20] imranzahid01 opened #190 "Plugin not compatible with IntelliJ IDEA 2020.3 EAP"
Installing the latest EAP of Intellij IDEA (2020.3) alerts the user that this theme is incompatible.
The exact error is:

Plugin 'One Dark theme' (version '5.1.0') is not compatible with the current version of the IDE, because it requires build 202.* or older but the current build is IU-203.3645.34

IntelliJ IDEA 2020.3 EAP (Ultimate Edition)
Build #IU-203.3645.34, built on September 22, 2020
Inte

[2020-09-28 11:11] #187 closed, assigned to nobody

[2020-09-28 11:11] #190 closed, assigned to nobody

[2020-09-28 11:16] Unthrottled opened #191 "Remove Deprecated API Usage"
The plugin verification step has highlighted usages of deprecated APIs. Please migrate to supported API usage.

[code]

[2020-09-28 11:19] Unthrottled commented on #190
Hey! Thanks for reporting this. `v5.1.1` has been published and is available for installation.

[2020-10-12 08:03] lonely-doge opened #192 "Font shadow problem"
![Snipaste_2020-10-12_16-01-56](https://user-images.githubusercontent.com/54979163/95720842-55e25c00-0ca4-11eb-8d0b-d5e44f630953.png)
When opening multiple files, when I hover over the redundant tabs, there will be some shadows on them, as shown in the figure

[2020-10-12 13:25] mskelton commented on #192
I doubt this is an issue with this theme as it looks like an IDE issue.  Could you try a different theme and see if the problem persists?

[2020-10-12 13:34] lonely-doge commented on #192
I change theme to IntelliJ Light, it's no problem

[2020-10-12 13:36] mskelton commented on #192
Interesting.  Could you try the default dark theme?  Not sure if that matters but just trying to think through all the possibilities.

[2020-10-12 13:39] lonely-doge commented on #192
I change theme to Darcula, it's no problem

[2020-10-12 14:04] Unthrottled commented on #192
This is an issue with any custom UI theme, not just One Dark. It happens only for files with custom file colors. It appears on Linux, and probably windows 10. MacOS might be fine. I'll need to test that out.

Once I get more information I can submit an issue to Jetbrains and close this issue.

It may be related to this

https://youtrack.jetbrains.com/issue/DBE-9857

[2020-10-12 14:20] lonely-doge commented on #192
but just now test Dracula theme and Solarized theme, they're ok, and there is no such problem

[2020-10-12 14:37] Unthrottled commented on #192
From which vendor?

I was able to reproduce with this plugin:
https://plugins.jetbrains.com/plugin/12310-gruvbox-theme

![image](https://user-images.githubusercontent.com/15972415/95759487-60363300-0c6f-11eb-85cd-bf65a5dff839.png)

**env**
[code]

[2020-10-13 04:09] lonely-doge commented on #192
![图片](https://user-images.githubusercontent.com/54979163/95814429-f9874700-0d4c-11eb-9033-79144bc9fdf2.png)

Build #IU-201.8743.12, built on July 21, 2020
Runtime version: 11.0.7+10-b765.65 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Windows 10 10.0
GC: ParNew, ConcurrentMarkSweep
Memory: 1981M
Cores: 8
Registry: ide.balloon.shadow.size=0
Non-Bundled Plugins: com.4lex4.intellij.solarize

[2020-10-13 12:54] Unthrottled commented on #192
@RichardConfused
Thank you for the additional information.
I was able to confirm that the themes you mentioned do not have the issue.

This feels like a bug in the platform, I'll take a peek to see if there is something that can be done on the theme side to patch this issue. If not, I'll submit a bug report to Jetbrains and close this issue.

Thank you for bringing this to my attention!

[2020-10-13 13:08] lonely-doge commented on #192
you're welcome

[2020-10-17 08:19] chenchenfang opened #194 "idea Show Diagram can not see clearly"
**Describe the bug**
Thread class  use Show Diagram ,i cannot see clearly
![image](https://user-images.githubusercontent.com/50065243/96331916-afc39700-1093-11eb-8eb5-0db637355a9e.png)

**To Reproduce**

1.click Thread
2.Right click
3.
![image](https://user-images.githubusercontent.com/50065243/96331946-e1d4f900-1093-11eb-8979-7d71af7c03cb.png)

**Expected Behavior**

as use
![image](https://user-

[2020-10-17 20:23] Unthrottled commented on #194
Thank you for taking the time and making such a detailed issue! I think I have everything I need. I will look into the fix as soon as possible

[2020-10-17 22:01] Unthrottled commented on #194
Note to self, this is a Intellij IDEA Ultimate plugin (not available in community).

[2020-10-18 14:02] #192 closed, assigned to nobody

[2020-10-18 14:02] #194 closed, assigned to nobody

[2020-10-18 14:07] Unthrottled commented on #194
@all-contributors add @chenchenfang for bugs

[2020-10-18 14:14] Unthrottled commented on #192
@all-contributors add @RichardConfused for bugs

[2020-10-18 14:22] Unthrottled commented on #187
@all-contributors add @jelinski for design

[2020-10-26 23:32] Unthrottled commented on #191
Thank you stale bot, I'll look into it this weekend to see how much this reduces the compatibility range.

[2020-11-01 15:28] Unthrottled commented on #191
@mskelton
Just wanted to get a second opinion.

Performing this upgrade will set the lowest platform compatibility to 2020.3. [See docs if curious](https://jetbrains.org/intellij/sdk/docs/user_interface_components/notifications.html#top-level-notifications)

Just wanted to know if this is cool. It will make android studio lag behind a bit. However, I don't anticipate any new fancy features in the

[2020-11-01 18:23] mskelton commented on #191
@Unthrottled since it is just deprecated, seems like we might want to leave it for now and remove it once it is fully removed from the platform.

[2020-11-16 00:37] Unthrottled commented on #191
I'll just close this and it will come back when it becomes an issue due to removal.

[2020-11-16 00:37] #191 closed, assigned to nobody

[2020-12-04 20:42] infix opened #198 "Narrowed variables not being highlighted correctly"
### Intellij light
![image](https://user-images.githubusercontent.com/40860821/101212129-e3c53c80-3680-11eb-9987-e157fe19ec91.png)
### Darcula
![image](https://user-images.githubusercontent.com/40860821/101212238-1111ea80-3681-11eb-83f8-b7b3f061bb8c.png)
### One Dark
![image](https://user-images.githubusercontent.com/40860821/101212284-2424ba80-3681-11eb-9cae-9ec5c7aad8e7.png)

expected behavior:

[2020-12-04 20:52] mskelton commented on #198
@Unthrottled Thoughts on this one?  Is the narrowing highlighting an option in IntelliJ?  If not, I would be hesitant to change it as it introduces a lot of extra highlighting and I'm not sure how much value that adds 🤔

[2020-12-04 21:15] Unthrottled commented on #198
@mskelton

I think it is just another thing that we can put in the editor colors `xml` file.

![image](https://user-images.githubusercontent.com/15972415/101215429-6fb87380-3643-11eb-88e1-a175f05d65de.png)

[Jump to colors and font](https://blog.jetbrains.com/phpstorm/2017/08/jump-to-colors-and-fonts-in-phpstorm/)

[2020-12-05 01:09] Unthrottled commented on #198
Just as a heads up. I've made the change, however, I think  there may be a bug in the platform that over-writes the attribute set by the custom theme. I'll have to investigate more.

[2020-12-05 13:36] Unthrottled commented on #198
Turns out it is an issue with the platform.

[I created an issue so that it could be fixed](https://youtrack.jetbrains.com/issue/IDEA-257040). Please vote for visibility.

Will add a themed typeguard to the plugin once the issue is fixed.

[2020-12-05 18:13] mskelton commented on #198
Thanks for looking into this @Unthrottled!

[2020-12-24 03:02] wanxiaolong opened #200 "Cannot display this theme on idea"
Hi,

I followed this readme file to config my idea, but unfortunately, this theme didn't appear on my idea after I install it.
Could you please help to take a look?

IDEA version: 2018.3.6(Ultimate Edition)
One dark theme version: 1.8.2

Screenshots:
![image](https://user-images.githubusercontent.com/7314085/103056278-777e8e80-45d7-11eb-87ef-9a818523cb3d.png)

![image](https://user-images.githubus

[2020-12-24 15:58] mskelton commented on #200
Have you tried restarting IntelliJ?  Sometimes that will fix the issue.

[2020-12-26 17:14] #198 closed, assigned to nobody

[2020-12-26 17:18] Unthrottled commented on #198
@all-contributors please add @infix for bugs

[2020-12-26 19:00] Unthrottled commented on #200
@wanxiaolong

I was a bit curious about this myself, so I looked into it.

I got the plugin to build for 2018. It did not work, the plugin was registered as _installed_ but the look and feel was not present. Just like you are observing.  I think it may have to do with how the `theme.json` is structured.

Here is the IDE I used to test it out.
[code]

Unfortunately, I am not going to support this v

[2020-12-26 19:00] #200 closed, assigned to nobody

[2020-12-28 18:08] MonteCreasor opened #202 "Updating to new versions (e.g. 5.1) does not preserve Settings/Editor/Color settings."
**Describe the bug**
When updating to new versions in Android Studio (e.g. 5.1), the update reverts to a "pure" one dark theme which removes any customization you may have made by setting the editor background colour in Settings/Editor/Color. I have my editor colour scheme set to Cobolt and I lose it every time your one dark theme releases a new update. It's no biggie because I can always (and do)

[2020-12-28 19:12] Unthrottled commented on #202
Hey friend! Thank you for taking the time to fill out this issue and providing very helpful details!

I think this is a feature of the platform itself, and not the plugin. The platform exhibits, the behavior you described, for all theme plugins (at least all of the other ones I have tried). When installed/updated it well set the look and feel/editor color scheme/theme to the current version. I can

[2020-12-28 19:21] MonteCreasor commented on #202
Thanks for responding so quickly! I'm certainly not at all worried or even bothered by it. I've built a pretty complicated Intellij plugin myself (shows a collection of git repositories from various users for testing and grading Vanderbilt University Android assignments for Juniors and graduates). I wasn't sure if it would be possible based on my knowledge, so I was really just making sure you kne

[2020-12-28 19:22] MonteCreasor commented on #202
Oh ya, and BTW, thanks so much for your plugin and great colour choices, I just love it!

[2020-12-29 09:11] wanxiaolong commented on #200
@mskelton Thank you for your reply. Yes I restarted my IDEA after installed this plugin, but still not work.

[2020-12-29 09:21] wanxiaolong commented on #200
Hi @Unthrottled Thank you for your investigation. The reason that I use this old version of one-dark-theme is that I only have license of IntelliJ IDEA 2018.3.6. I may not have time to work it out, but we can still keep this branch as others may met the same issue and have time to investigate more on it. Thank you again for your investigation and suggestion.

[2020-12-30 01:05] yxd0018 opened #203 "Title bar font color"
With dark theme, the title bar font is too faint to see. Is there a way to set that color?

[2020-12-30 11:05] Unthrottled commented on #203
Are you talking about the Window 10 frame?

![image](https://user-images.githubusercontent.com/15972415/103347427-9b6d2480-4a5c-11eb-8fea-180992cca63d.png)

Edit: This is just for me
[image](https://user-images.githubusercontent.com/15972415/103347794-98beff00-4a5d-11eb-8857-01760ff1e98b.png)

[2020-12-30 11:09] Unthrottled commented on #202
Got it! Once I verify that it is part of the platform. I'll close the issue. I don't want to add anything to complex to the simple plugin at the moment (complex stuff breaks easy 😅)

And thank you for the kind words! However, its thanks to the efforts of everybody that has contributed that made the theme the way it is (I just keep the lights on 😄 )

[2020-12-30 12:06] yxd0018 commented on #203
yes, the top one saying progress-bar. It's barely viewable.

[2020-12-30 12:20] Unthrottled commented on #203
Cool, Yeah, that can be updated to be a bit brighter..

[2020-12-30 14:05] yxd0018 commented on #203
Better to be able to select custom color

[2020-12-30 14:15] Unthrottled commented on #203
Fair enough! That's pretty straight forward.

[2021-01-30 02:16] Unthrottled opened #204 "2021.1 EAP Build Support"
The new 2021.1 EAP is out, it's time to jump on the release train!

[2021-01-31 14:59] #203 closed, assigned to nobody

[2021-01-31 14:59] #204 closed, assigned to nobody

[2021-02-24 18:29] yuri-karpovich opened #207 "Missed color for methods/variables in RubyMine"
Thanks for the theme! It's almost perfect but I have a little pain with it - Rubymine shows the same color for variables and for methods.

[code]

Plugin version:  5.1.4
RubyMine RubyMine 2020.3.2
MacOS 10.15.7

![image](https://user-images.githubusercontent.com/7230069/109047620-267a3c00-76e7-11eb-98aa-593a644e8f3b.png)

[2021-02-24 23:16] Unthrottled commented on #207
Hey! I'll assume this is ruby?

Do me a favor:
- Put your cursor over join/array
- `Command+shift+a`
- `Jump to colors and font`

What does RubyMine think those 2 things are?

![Peek 2021-02-24 17-11](https://user-images.githubusercontent.com/15972415/109078648-4dbf1200-76c3-11eb-9bb5-4da9ed51708e.gif)

For me it was identifier and weak warning.

It also looks like methods are supposed to be color

[2021-02-25 07:18] yuri-karpovich commented on #207
Right. It's Ruby. `array` is identified and local variable at the same time

![Feb-25-2021 10-15-27](https://user-images.githubusercontent.com/7230069/109117024-78a47700-7752-11eb-907d-d2bf3ab27c59.gif)

Here is an example how it works in another theme:
![image](https://user-images.githubusercontent.com/7230069/109116810-2bc0a080-7752-11eb-81eb-2d7ea190c4c2.png)

[2021-02-25 19:18] heitorcolangelo opened #208 "Highlight method usage in same class in the right side"
**Describe the bug**
With the default Darcula theme from IntelliJ/AndroidStudio I can see a green tick on the right side of the screen indicating where the method that it is currently selected is being used inside that class.
In the screenshot below (screenshot section), the method is being used in one other place of that class, so we have two green ticks, one for the method definition and another

[2021-02-25 23:02] Unthrottled commented on #208
![image](https://user-images.githubusercontent.com/15972415/109230816-1c117e00-778b-11eb-977a-2b282d8ae760.png)

:thinking: Interesting! TIL. I'll have some time to investigate the right setting later this week.

[2021-02-27 13:30] #207 closed, assigned to nobody

[2021-02-27 13:30] #208 closed, assigned to nobody

[2021-02-27 13:33] Unthrottled commented on #202
Thank you for bringing this to my attention! However, I am not going to override the platforms default behavior.

[2021-02-27 13:33] #202 closed, assigned to nobody

[2021-02-27 13:35] Unthrottled commented on #207
@all-contributors add @yuri-karpovich for design

[2021-02-27 13:36] Unthrottled commented on #208
@all-contributors add @heitorcolangelo for bugs

[2021-02-27 17:13] yuri-karpovich commented on #207
Thank you! 🎉

[2021-03-05 10:00] znerd opened #212 "Differences don't stand out in IDEA diff window"
**Describe the bug**
The visual appearance of differences in the IntelliJ IDEA diff window is insufficiently distinct from the other file contents.

**To Reproduce**
1. Have a unit test that compares a lot of text.
2. Ensure that there is a small difference between what is expected and what is actual.
3. Perform the unit test, and then click on the “Click here” text to show the diff in a separate

[2021-03-05 14:05] Unthrottled commented on #212
:thinking: Interesting problem we have here, both of these colors are around the same hue, one is just a darker less saturated variant. I'll have to think of some way to make that work.

Quick fix is just doing this
![Screenshot from 2021-03-05 08-03-24](https://user-images.githubusercontent.com/15972415/110125755-4e257000-7d89-11eb-92d5-d0314ed3049d.png)

Which does this
![Screenshot from 2021-03

[2021-03-10 03:46] waltcow opened #213 "Selection is not obvious in code complete menu"
**Describe the bug**

Selection is not obvious in code complete menu

**To Reproduce**

1. one dark vivid color schema

**Expected Behavior**

**Environment**

**Screenshots**

![image](https://user-images.githubusercontent.com/3941174/110573304-fe361700-8195-11eb-8f9c-828abfee4f40.png)

[2021-03-10 12:29] Unthrottled commented on #213
Are you referring to the row selection background or the character selection match foreground color?

[2021-03-11 07:01] waltcow commented on #213
![image](https://user-images.githubusercontent.com/3941174/110748450-b0dfa580-827a-11eb-8635-18aedb4fcbff.png)

The popup menu for code auto complete

@Unthrottled

[2021-03-11 11:24] Unthrottled commented on #213
Sorry for not being clear.

Are you referring to the row selection background (I colored blue) or the character selection match foreground color (I colored red)? Or is it something else?

![image](https://user-images.githubusercontent.com/15972415/110780118-f32cc680-8229-11eb-8f6f-323f5f08d149.png)

[2021-03-12 03:46] waltcow commented on #213
I am referring to the row selection background (colored blue)

[2021-03-13 14:12] Unthrottled commented on #213
@waltcow

Since that's just like, your opinion, I've added a feature to the [themed components plugin](https://github.com/Unthrottled/themed-components#themed-components) where you can [customize the selection color](https://github.com/Unthrottled/themed-components#completion-window-color-customizations) to something that suits yourself .

_Note_: the version with completion window customization i

[2021-03-13 14:12] #213 closed, assigned to nobody

[2021-03-16 16:39] mdemierre opened #214 "IntelliJ IDEA freezes when plugin is downloading an asset"
**Describe the bug**

At random times, my IDE is freezing for 10-40 seconds. Last time it froze, here's what I found in the logs:

[code]
It seems to indicate the plugin is the source of the freeze, maybe something is done in the wrong thread?

**To Reproduce**

Now it's hard for me to say why the connection times out and how to reproduce. But I'm behind a corporate proxy with TLS interception and

[2021-03-16 22:15] Unthrottled commented on #214
For starters, thank you for taking the time and providing a bunch of great details!

Probably, I've got the plugin attempting to get the error reporting configurations over the remote connection. It shouldn't be trying to get those configuration when there isn't an error, but it's still doing it. I've got a #215 if you wanted to try out the fix.

That is [on purpose.](https://youtu.be/uKMLQ_RgJ4A)

[2021-03-17 07:56] mdemierre commented on #214
Thanks I installed the build provided in the PR.

So far I tried restarting the IDE a few times, opening and closing projects and didn't see a freeze. Last time it happened when I opened then closed a project.

 I'll be attentive for any further freeze and check the logs again. I guess if you don't hear from me in the next few days it means that it worked.

[2021-03-24 08:20] mdemierre commented on #214
So far no further freeze, I guess the issue is fixed.

[2021-03-24 12:47] #214 closed, assigned to nobody

[2021-05-04 18:25] IBNobody opened #216 "PyCharm Jupyter Preview Window is not Themed"
**Describe the bug**

When using One Dark Vivid Italic (or any other One Dark theme), the preview pane of Jupyter Notebooks defaults to Dracula.

Opening/closing the Jupyter Notebook does not resolve this. Opening/closing PyCharm does not resolve this.

**To Reproduce**

1. Create a Jupyter Notebook.

**Expected Behavior**

The Preview Pane should be properly themed.

**Environment**

PyCharm 2021

[2021-05-04 21:21] Unthrottled commented on #216
Hmm, I don't know if that is theme-able by plugins. I am pretty sure that it is a chromium rendered window. You can right click and view page source and dev tools. I'll ask and see.

BTW, I think there are [jupytertheme](https://github.com/dunovank/jupyter-themes) which has `onedork` which is pretty similar

[2021-05-12 23:40] Kamilkime opened #217 "Different font look"
After updating IJ from version 2020.3.4 to version 2021.1 - the font looks different. The settings are still the same - JetBrains Mono, size 13, line height 1.2. But now the font seems... higher, bigger, despite having the same set size. Was sth changed in IJ itself, or was sth changed in the newer versions of the One Dark plugin?

Old look:
![obraz](https://user-images.githubusercontent.com/10383

[2021-05-13 23:31] Unthrottled commented on #217
If you had `v5.1.5` on 2020.3.4 and 2021.1, then there isn't any code (in the plugin) that changes the font size with different versions of the platform.

It appears that `Font Weight Options` is part of [what's new](https://www.jetbrains.com/idea/whatsnew/) in intellij. Could that be it? :thinking:

![image](https://user-images.githubusercontent.com/15972415/118199019-bb9fed80-b417-11eb-891c-69c4

[2021-05-13 23:31] #217 closed, assigned to nobody

[2021-05-14 10:18] Unthrottled commented on #216
Alright, so the current answer is "No, there is no way to apply any custom styling (css or otherwise) before HTML is rendered in the editor". This is something that could only be controlled by the Jupyter Plugin (and however it renders the html) and not this plugin. [Link to relevant slack thread](https://jetbrains-platform.slack.com/archives/C5U8BM1MK/p1620861297061600)

If this changes in the fu

[2021-05-14 10:18] #216 closed, assigned to nobody

[2021-06-10 03:13] #212 closed, assigned to nobody

[2021-07-26 12:35] terror3800 opened #220 "How do I use your theme in the plugin "code with me", it is not in the marketplace."

[2021-07-26 13:00] Unthrottled commented on #220
I am pretty sure the plugin is not available on that platform because of some unnecessary platform dependencies listed in the plugin descriptor.

I'll have some time later this week to remove those and test to see if it works on that platform.

[2021-07-26 13:06] terror3800 commented on #220
Thank you, I'm waiting for your answer.

[2021-07-27 10:24] Unthrottled opened #222 "Update plugin build & pre-merge process"
The [intellij plugin template](https://github.com/JetBrains/intellij-platform-plugin-template) has all the latest and greatest tools for maintaining & publishing plugins. Probably a good idea to make sure we use what they have.

[2021-07-28 10:13] #220 closed, assigned to nobody

[2021-07-28 10:22] Unthrottled commented on #220
@terror3800 v5.3.0 is available in the marketplace. Thanks for bringing this to my attention!

[2021-07-28 10:23] Unthrottled commented on #222
Looks like I also broke release notes.

![image](https://user-images.githubusercontent.com/15972415/127306992-7471d00c-3a63-497b-9825-31a08856b828.png)

[2021-07-28 14:04] terror3800 commented on #220
thank you so much

[2021-07-28 20:22] wyao4-ford opened #223 "Theme not showing up in Android Studio Artic fox 2020.3.1."
All I did was upgrading android studio to Arctic Fox and upgrade OneDark plugin to 5.3, then as shows in the screenshot I am not able to select one dark theme anymore

![image](https://user-images.githubusercontent.com/79589200/127390479-5bc0a1ea-fc5c-4774-9280-4c22d2bdfcd4.png)

[2021-07-28 21:12] Unthrottled commented on #223
Please go to *IntelliJ IDEA -> About IntelliJ IDEA (Mac)* or *Help -> About IntelliJ IDEA (Windows)* and copy the infos to the clipboard and paste it here.

It should contain:
* OS (Windows, Linux, Mac)
* IntelliJ Product + version (IDEA, RubyMine...)
* Plugin version
* If needed a list of enabled plugins

Here is mine:

[code]

Did you also restart your android studio?

[2021-07-28 23:04] wyao4-ford commented on #223
I restart the device and android studio but issue remain the same.
When I go to help the screenshot is what I have, I don't find a Help -> About IntelliJ IDEA (Windows)
![image](https://user-images.githubusercontent.com/79589200/127407186-13773338-f5fe-4bdd-ba55-50004e0cfd17.png)

when I do just Help -> About, below is what I have
![image](https://user-images.githubusercontent.com/79589200/1274072

[2021-07-28 23:08] Unthrottled commented on #223
Could you please click
![image](https://user-images.githubusercontent.com/15972415/127407584-58bade2b-aab5-4cdc-92d2-3f3ac851f3b0.png)
and paste the contents here?

[2021-07-28 23:10] wyao4-ford commented on #223
Android Studio Arctic Fox | 2020.3.1
Build #AI-203.7717.56.2031.7583922, built on July 26, 2021
Runtime version: 11.0.10+0-b96-7249189 amd64
VM: OpenJDK 64-Bit Server VM by Oracle Corporation
Windows 10 10.0
GC: G1 Young Generation, G1 Old Generation
Memory: 3072M
Cores: 12
Registry: external.system.auto.import.disabled=true, ide.balloon.shadow.size=0
Non-Bundled Plugins: Batch Scripts Support, CM

[2021-07-28 23:18] Unthrottled commented on #223
:thinking: The plugin is installed. Are there only two entries? Is the drop-down just short?
It looks like your current theme is a Material Theme (Darker maybe?)

Could you try the `Quick Switch` option, please? Choose `Look and Feel`, you should be able to see `One Dark` and the others.
https://www.jetbrains.com/help/idea/switching-between-schemes.html

[2021-07-28 23:24] wyao4-ford commented on #223
the drop-down only have that two options, which should not happen.
![image](https://user-images.githubusercontent.com/79589200/127408545-aad46ee0-f496-4e1b-b849-24e46b5365c7.png)

My current appearance theme is Darcula because that is one of the two options I have.

Inside `Quick Switch` there is not a `Look and Feel`, only as this
![image](https://user-images.githubusercontent.com/79589200/127408

[2021-07-28 23:29] Unthrottled commented on #223
Okay, A bit confusing. Is the plugin enabled?

Can you go to `Settings` -> `Plugins` -> `Installed` and check the `One Dark theme` please?

![image](https://user-images.githubusercontent.com/15972415/127409061-8d2e09c0-e4f2-4c13-a25d-dab3a145783e.png)

[2021-07-28 23:30] wyao4-ford commented on #223
Yes
![image](https://user-images.githubusercontent.com/79589200/127409114-ce01c17d-ae45-46fb-8d51-1b3dca2b2a41.png)

[2021-07-28 23:34] wyao4-ford commented on #223
I find it's probably not the problem of One Dark Theme. I install other themes and it's also not showing on the theme options.

[2021-07-28 23:34] Unthrottled commented on #223
![What the heck](https://akm-img-a-in.tosshub.com/indiatoday/images/story/201701/jackie-story_647_012517032327.jpg)

Have you tried, un-installing the plugin, restarting, and installing the plugin again?

I'm going to try Arctic Fox, I  was on Bumblebee.

[2021-07-28 23:35] wyao4-ford commented on #223
I already tried that and it didn't work.

[2021-07-28 23:36] wyao4-ford commented on #223
I upgraded both on Mac machine and Windows Machine and seems like Mac machine works fine, just a heads up.

[2021-07-28 23:38] Unthrottled commented on #223
I am able to reproduce the issue on Arctic Fox on Linux. It's also not just One Dark. I also downloaded Gruv Box, and it doesn't show.

[code]

Have you considered using the early access Android Studios (Bumblebee)?
https://developer.android.com/studio/preview

I'll have some time later to chase down if anybody else is having the same issue.
Thanks for being patient with me.

[2021-07-28 23:41] wyao4-ford commented on #223
I would probably try that version.

Thanks for being patients too, at least we know where the problem is coming from. I have raise an issue and let's see https://issuetracker.google.com/issues/194935987.

[2021-07-29 00:45] SamueldaCostaAraujoNunes commented on #223
I share the same problem!

[2021-07-29 05:27] Kamilkime opened #224 "Different theme is suggestion popup"
When the suggestions popup is opened - the colors in it don't match the rest of the One Dark Theme.
![obraz](https://user-images.githubusercontent.com/10383567/127436356-034766c5-22e9-4b30-93c2-349620d5bd69.png)

**Environment**
Windows 10
IntelliJ IDEA 2021.2 (Community Edition)
Build #IC-212.4746.92, built on July 27, 2021
Newest (v5.3.0) version of the One Dark plugin

[2021-07-29 06:09] winskyan commented on #223
I share the same problem!

[2021-07-29 07:15] irfnyas commented on #223
I share the same problem!

[2021-07-29 08:49] linxiangcheer commented on #223
This question makes me sad

[2021-07-29 10:25] Unthrottled commented on #224
Ah, it is a different shade of gray

![image](https://user-images.githubusercontent.com/15972415/127476088-379a00b0-6a6c-4e7d-8a89-e3da34b93c42.png)

Just making sure, you are expecting it to look like this :point_up: and not something else, right?

[2021-07-29 10:33] Kamilkime commented on #224
Yup, exactly. The one from my screen looks more like the Darcula theme colors. And the one from your screen - it looked like this before I updated IJ to 2021.2

[2021-07-29 11:04] MiranKm opened #226 "Themes not working/ showing up in Appearance in Android Studio Artic fox 2020.3.1 version"
**Describe the bug**

**To Reproduce**

1. Update android studio to version Artic fox 2020.3.1

**Tried**
- Uninstalling and installing again
- installing from JetBrains plugin page
- invalidating cache and restart

**Expected Behavior**

**Environment**

**Screenshots**

[2021-07-29 11:05] Unthrottled commented on #224
Cool, thanks!

I'm going to wait a bit before releasing the fix. In hopes of catching any other issues. I can provide a built version of the plugin if wanted. You could also (in the mean time):

- Export your current color scheme
- Add this in the `<colors>` node.
[code]

- Import the modified theme.

[Docs](https://www.jetbrains.com/help/idea/settings-colors-and-fonts.html)

[2021-07-29 11:11] Unthrottled commented on #226
Hey! You can track the status of the issue here #223 . Thanks!

[2021-07-29 11:11] #226 closed, assigned to nobody

[2021-07-29 12:11] MiranKm commented on #223
I share the same problem!

[2021-07-29 23:41] Kamilkime commented on #224
I'll just wait for the release and add the option manually to the color scheme for now. Thanks for the help :D

[2021-07-31 02:49] khoben commented on #223
Here is temporary fix: https://issuetracker.google.com/issues/194925628#comment4

[2021-08-02 19:13] Sheitak commented on #223
I have same problem, Ubuntu 20,

[code]

[2021-08-02 19:34] mskelton commented on #223
Hi folks, instead of posting a "I'm having this issue type of comment", please use the reactions on the original issue to denote that you are also having this issue.  Adding another comment just creates extra noise for people subscribed to this thread.

I'm going to lock this issue for now until we have more details.

[2021-08-05 18:34] nikunjparadva commented on #226
## Here is the Solution

https://stackoverflow.com/a/68599712/5773037

#223

[2021-08-12 08:58] vaytsel opened #227 "Mocha syntax is not highlighted"
**Describe the bug**
Mocha syntax is not highlighted

**To Reproduce**
Just write code with mocha methods

**Expected Behavior**
Highlight Mocha constructions

**Environment**
WebStorm 2021.2
Build #WS-212.4746.80, built on July 23, 2021
Runtime version: 11.0.11+9-b1504.13 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 11.4
GC: G1 Young Generation, G1 Old Generation
Memory: 2048M
Co

[2021-08-12 10:57] Unthrottled commented on #227
Hmm, I'm not able to replicate the issue. My WebStorm appears to recognize the global functions (maybe from the node modules?).

Try this:

![Peek 2021-08-12 05-54](https://user-images.githubusercontent.com/15972415/129185420-9671157c-7670-493c-af03-f37e020bb3bf.gif)

1. Navigate `Settings` -> `Languages & Frameworks` -> `Javascript` -> `Libraries`
1. Select `Download`
1. Search for `Mocha`
1. `Do

[2021-08-12 11:03] vaytsel commented on #227
Didn't help (

[2021-08-12 11:06] Unthrottled commented on #227
Hmm, does it not recognize the javascript? Can you see what webstorm thinks the lexical tokens are?

![Peek 2021-08-12 05-47](https://user-images.githubusercontent.com/15972415/129186633-9dd7082d-860e-461e-b9cb-65816fc7e1dd.gif)

Hover over describe and `Jump to colors & fonts` .

[2021-08-12 13:05] vaytsel commented on #227
![image](https://user-images.githubusercontent.com/29410898/129201790-d22c1cc0-3b17-43b3-b5f6-eb764c7726f7.png)
![image](https://user-images.githubusercontent.com/29410898/129202605-0c5075f2-da36-4655-8c11-d1f0055659b2.png)

[2021-08-12 13:21] Unthrottled commented on #227
Ah, it looks like you are using typescript.

It also appears that you have customized the color scheme theme. Please either try to click the ellipse and choose `Restore Defaults` or fix the coloring yourself, please.

![image](https://user-images.githubusercontent.com/15972415/129203259-ff699eb1-7a50-41c4-8b9d-bf51cfbf61bb.png)

The theme currently sets
`<option name="JS.GLOBAL_VARIABLE" baseAttri

[2021-08-12 15:08] vaytsel commented on #227
`restore default` works for me, ty so much!

I just changed the background color of the editor once, I don't know why it affected this

[2021-08-12 23:02] Unthrottled commented on #227
Cool! Yeah, so that's a feature of the edited/custom editor schemes. Once you make a change, you won't get any updates to the editor color scheme. Would be kind of annoying if every time you updated, your changes would be overridden. Downsides is, that you've got to maintain new additions scheme now. Pretty sure there isn't a editor scheme color merge strategy (that'd be cool though!)

Imma close

[2021-08-12 23:02] #227 closed, assigned to nobody

[2021-08-23 09:50] ZhangChengLin opened #228 "When the code is compared, the color difference is not obvious, which is bothersome"
When the code is compared, the color difference is not obvious.
The comparison when submitting git submission is also not obvious.

[2021-08-23 10:28] Unthrottled commented on #228
Hey!

So this is what I looks like right now:

![Screenshot from 2021-08-23 05-24-57](https://user-images.githubusercontent.com/15972415/130432361-0c7d9101-1451-4a86-9d7f-a70161f1936b.png)

Seems fairly obvious, in my opinion.

Thankfully, you have the option to customize it to your preferences. Just go to `Settings -> Editor -> Diff & Merge` and you should be able to change the colors to your own

[2021-08-23 10:28] #228 closed, assigned to nobody

[2021-09-17 02:53] liy-cn opened #229 "favorites icon display error"
The icon of favorites classes of methods is 'BLACK', but it should be "YELLOW', I can't see the icon in dark mode.plz change to another color icon,thank you.
![微信截图_20210917105214](https://user-images.githubusercontent.com/2853829/133716721-83c1c525-8a9f-4466-be28-f2131295d2ae.png)
![微信截图_20210917105306](https://user-images.githubusercontent.com/2853829/133716727-4ef3649b-8ba8-4234-8f1d-63507b3fa9

[2021-09-17 10:41] #224 closed, assigned to nobody

[2021-09-17 10:41] #229 closed, assigned to nobody

[2021-09-17 10:52] Unthrottled commented on #223
It would appear that the issue has been addressed in the Arctic Fox Patch 1. Current patch is Arctic Fox 2.
https://issuetracker.google.com/issues/194925628

I verified that custom themes work on my android studio.

[code]

[2021-09-17 10:52] #223 closed, assigned to nobody

[2021-09-17 10:55] Unthrottled commented on #229
Thanks for reporting this issue!

@all-contributors add @liy-cn  for bugs

[2021-09-17 10:57] Unthrottled commented on #224
Thanks for the sharp eyes!

@all-contributors add @Kamilkime  for bug

[2021-09-17 14:43] liy-cn commented on #229
Thanks buddy! It's an hornor!

[2021-09-23 17:05] Kadeluxe opened #233 "WebStorm 2021.3 EAP (213.3714.441) compatibility"
**Describe the bug**
WebStorm switched to 213 version (Build #WS-213.3714.441).

[code]

[2021-09-23 23:15] Unthrottled commented on #233
That must have just come out today, or I'm a bit behind. I'll have a updated version soon, thanks for bringing this to my attention.

[2021-09-24 10:45] Kadeluxe commented on #233
Yeah I pretty much created an issue as soon as EAP became available.
Currently use zip file you provided, no issues so far.
Thank you for your work!

[2021-09-28 03:57] linmii opened #235 "Where can I setting the color?"
Where can I set the foreground color marked in the red box on the search or replace popup? It's hard to see clearly.
![image](https://user-images.githubusercontent.com/17309471/135020550-813ea006-092a-4a43-b1dc-d88a1d5da071.png)

[2021-09-30 01:40] Unthrottled commented on #235
I agree that that it is hard to see.

However, I think this was by design, repeated attributes in the find panel are dimmed

Here is the code that defines that:

https://github.com/JetBrains/intellij-community/blob/3035233ecff58e117bafd0d42bb2a7baf18839c9/platform/lang-impl/src/com/intellij/find/impl/FindPopupPanel.java#L1941

Component.infoForeground is used by a bunch of things, so I am not goin

[2021-09-30 01:40] #235 closed, assigned to nobody

[2021-10-01 00:32] #233 closed, assigned to nobody

[2021-11-29 09:28] muyu66 opened #236 "The color of the selected option and the colors of the available options make me confused"
**Describe the bug**

The color of the selected option and the colors of the available options make me confused.

In VSCODE, it is more like "selected items are bright, and available options are dark", which is the opposite in IDEA, which causes inconsistency and is easy to mess (we should highlight the selected items!)

**To Reproduce**

1.

**Expected Behavior**

**Environment**

**Screenshots**

[2021-11-30 11:52] Unthrottled commented on #236
Thanks for submitting this issue, I will look into this later this week.

[2021-12-03 07:55] dorudumitru-hh opened #237 "Start screen broken in 2021.3"
2021.3
![Screenshot 2021-12-03 at 09 42 33](https://user-images.githubusercontent.com/40240395/144564280-4ef69930-8960-4de5-96fa-ce853e3022d7.png)![Screenshot 2021-12-03 at 09 43 36](https://user-images.githubusercontent.com/40240395/144564415-a2633af7-1db9-415f-8802-044ffd93b415.png)

2021.2
![Screenshot 2021-12-03 at 09 52 44](https://user-images.githubusercontent.com/40240395/144565690-da19fd84

[2021-12-03 13:33] Unthrottled commented on #237
Will look into this soon, thanks for reporting!

[2021-12-09 00:04] Unthrottled commented on #222
![Too lazy](https://c.tenor.com/ZRyc_eYLTbYAAAAC/pusheen.gif)

[2021-12-09 00:04] #222 closed, assigned to nobody

[2021-12-10 14:30] #236 closed, assigned to nobody

[2021-12-10 14:30] #237 closed, assigned to nobody

[2021-12-10 14:32] Unthrottled commented on #237
@all-contributors add @dorudumitru-hh for bugs

[2021-12-10 14:33] Unthrottled commented on #236
@all-contributors add @muyu66 for design

[2021-12-21 08:25] yujincheng08 opened #241 "Theme background does not apply to DataSpell 2021.3's jupyter cell"
**Describe the bug**
One dark theme background color does not apply to DataSpell's jupyter cell (as well as pycharm)

**To Reproduce**

1. Install DataSpell 2021.3
2. Install One Dark Theme plugin and apply the theme
3. Attach to a jupyter environment and open a notebook file
4. Create a cell and write some python code

**Expected Behavior**
The python cell of jupyter notebook should show one dark

[2021-12-22 12:18] #241 closed, assigned to nobody

[2021-12-22 12:20] Unthrottled commented on #241
Thank you for bringing this to my attention!

You can always manually adjust the colors in the settings

![image](https://user-images.githubusercontent.com/15972415/147091921-59cb1cf3-593d-4b90-85a0-0aa87a6a0860.png)

@all-contributors add @yujincheng08 for bug

[2021-12-23 12:46] alex-storchak opened #244 "After updating PHPStorm to the version 2021.3 built-in php functions don't highlighting"
After updating PHPStorm to the version 2021.3 (Build #PS-213.5744.279, built on December 2, 2021) it seems that built-in php functions (ex. implode, array_merge, get_class etc) don't highlighting any more.

![image](https://user-images.githubusercontent.com/47216380/147242060-5d980fdf-6b30-4f6b-9322-6174f0e20515.png)

[2021-12-23 14:13] Unthrottled commented on #244
Hey! Could you double check that your issue isn't related to this comment, please?

https://github.com/one-dark/jetbrains-one-dark-theme/issues/227#issuecomment-897635096

[2021-12-23 15:03] alex-storchak commented on #244
I've tried to restore defaults and re-install theme plugin. But it didn't help.

Seems that the main problem is that built-in functions and variables both inherits their color from `"Language default"` (`Identifiers->Default` and `Identifiers->local variable`)  where the white color is set for both of them.

I can uncheck "inherit ..." and set the color for my own (and it will work) but imho it sh

[2021-12-23 23:06] Unthrottled commented on #244
Thanks for providing the supporting information!

I'll have some time in the future to check out what it might have looked like before. Do you remember which PHP storm you had before upgrading to 2021.3?

[2021-12-24 13:13] alex-storchak commented on #244
Thanks!

Most likely it was the 2021.2

![image](https://user-images.githubusercontent.com/47216380/147355214-7d0061c1-652b-453b-ad39-edd7caf90f6c.png)

[2022-01-18 15:36] adampatterson opened #246 "Tabs from excluded files have poor contrast"
**Describe the bug**

Open excluded files have poor contrast in the tab titles.

**To Reproduce**

1. Exclude a folder and then open a file. The title of the tab is very hard to read on a dark theme.

**Expected Behavior**

I would like to easily read the tav title.

**Environment**

PhpStorm 2021.3.1
Build #PS-213.6461.83, built on December 29, 2021
Licensed to BubbleUP Marketing Corp. / Adam Pat

[2022-01-19 23:09] Unthrottled commented on #246
Thank you for taking the time to report this issue and supplying the supporting information.

I'll look into what can be done to allow you to customize either the font color used for ignored/excluded files when I get time in the near future.

[2022-01-31 20:16] Kadeluxe opened #247 "Intellij (EAP) switched to 221 version"
Just in case.

[code]

[2022-01-31 23:54] #244 closed, assigned to nobody

[2022-01-31 23:54] #247 closed, assigned to nobody

[2022-02-01 00:03] Unthrottled commented on #247
Thanks for reporting! [v5.5.0](https://plugins.jetbrains.com/plugin/11938-one-dark-theme/versions/stable/155842) is available with 2022.1 support.

<sub><sub>I have sooo many plugins to update</sub></sub>

[2022-02-10 00:23] Unthrottled commented on #246
Hey! I've got a couple of options for you, as this is tied to the VCS integration, I can't just change it just for non-project scoped files, it affects a bunch of other stuff. So I am not going to fix it in the plugin, I've also got other reasons for not wanting to fix it as well. However, I am open for debate 😃

Anyways here are some option for you:

1. Change/Remove the [Non-Project File Scope c

[2022-02-10 00:23] #246 closed, assigned to nobody

[2022-02-17 06:20] tomer-ben-david opened #248 "Question: when enabling semantic highlighting in java, then some variables are very dark"
When enabling semantic highlighting in java then some variables are very dark, I tried not using the default semantic highlighting and changing colors, but it didn't change colors for the semantic highlighting and some vars are so dark I cannot see them is there anything I'm missing? Thanks! (great theme!)

[2022-02-17 06:31] tomer-ben-david commented on #248
Aha, looks like close IntelliJ and reopen fixes this! so after change semantic highlight I need to restart intellij.

[2022-02-17 06:31] #248 closed, assigned to nobody

[2022-03-18 16:32] ziishaned opened #250 "Not able to find settings menu for One Dark Theme"
**Describe the bug**

I am not able to find the `One Dark Theme` settings menu inside Preferences | Appearance & Behavior.

**Environment**

[code]

**Screenshots**

<img width="280" alt="CleanShot 2022-03-18 at 20 32 16@2x" src="https://user-images.githubusercontent.com/16267321/159044045-ec1a8b6c-f40e-48de-bfe0-9eb0a6e41290.png">

[2022-03-18 22:51] #250 closed, assigned to nobody

[2022-03-18 22:52] Unthrottled commented on #250
Ah! That was a relic of an old release. There is no extra `One Dark Theme` setting configuration menu. Thank you for bringing this to my attention.

@all-contributors add @ziishaned for bug

[2022-04-06 22:30] ilyapopovs opened #252 "[Bug / Feature Request] Missing variable definition mark on the scrollbar"
**Describe the bug**

Variable definition is not marked on the scrollbar.
In the screenshots section there is a comparison between One Dark an the default Darcula in the same scenario.
Note there's one mark on the first image, and two marks on the second image.
I usually find it very useful to have that additional mark to tell where a variable is coming from.
Would really appreciate if it was adde

[2022-04-07 11:11] Unthrottled commented on #252
Yeah, I like that feature! Didn't know this theme didn't implement it. I'll have some time later this week to circle back and fix this.

Just making sure we are both talking about this thing:

<img width="200" alt="Screen Shot 2022-04-07 at 6 09 42 AM" src="https://user-images.githubusercontent.com/15972415/162186204-2670a484-8ff4-4682-8040-d653110e0da8.png">

[2022-04-07 23:32] ilyapopovs commented on #252
Yep, thank you! 🙌

[2022-04-10 18:30] #252 closed, assigned to nobody

[2022-04-10 18:38] Unthrottled commented on #252
Thank you for taking the time to fill out all the necessary details to get this added! I appreciate it.

Just for future reference, this feature is the `Error Stripe Mark`, you can customize it like this:

https://user-images.githubusercontent.com/15972415/162634485-268230be-1084-4b17-8e89-4d7a506b27e6.mp4

@all-contributors add @ilyapopovs for feature

[2022-04-10 18:40] Unthrottled commented on #252
Guess that's what I get for not looking at the docs...

@all-contributors add @ilyapopovs for design

[2022-04-10 21:22] ilyapopovs commented on #252
Looks great, thank you very much @Unthrottled! 🙌 🚀

[2022-04-19 02:04] amgud opened #255 "Barely visible highlighting color"
**Describe the bug**

As seen in the screenshot below the first option `pa` is barely highlighted, hardly recognizable blue color on the blue background.
The original color (Dracula theme) is yellow.

**To Reproduce**

1. Choose "One Dark" theme

**Expected Behavior**

Hightlight color should be yellow

**Environment**

WebStorm 2022.1
Build #WS-221.5080.193, built on April 11, 2022
Runtime versio

[2022-04-19 11:11] Unthrottled commented on #255
I think that was done on purpose, as to have the match highlight color match the tree row/list row selection.

<img width="274" alt="Screen Shot 2022-04-19 at 6 04 17 AM" src="https://user-images.githubusercontent.com/15972415/163990392-06d32224-7cbf-4495-b83b-6bcde5fe6cb9.png">

Changing it to another color/something more usable (such as back to yellow), is subjective. So I probably won't fix it

[2022-04-19 11:11] #255 closed, assigned to nobody

[2022-04-26 03:05] bestv5 opened #256 "What is the default font of theme"
What is the default font of theme  ？  or  What is the default font in preview of the plugin
![image](https://user-images.githubusercontent.com/15650275/165211717-a2dfa74d-f555-4561-b11d-4e83dff94608.png)

[2022-04-26 10:29] Unthrottled commented on #256
@mskelton Do you know?

[2022-04-26 12:36] mskelton commented on #256
Short answer, [Operator Mono ScreenSmart](https://www.typography.com/fonts/operator/styles/operatormonoscreensmart).  Long answer can be found on my AMA: https://github.com/mskelton/ama/issues/1

[2022-04-26 12:36] #256 closed, assigned to nobody

[2022-05-04 09:17] Lufti76MatrixReloaded opened #257 "jetbrain_one_dark_theme_intellij_ultimate"
I love the dark_theme

[2022-05-04 10:27] Unthrottled commented on #257
Do you actually have an issue or are you just complementing the theme?

If it is the former then please provide more information on what your problem in this issue thread.

If it is the latter, then thank you for your support! Which is what I suspect it, so I'll close this use.

[2022-05-04 10:27] #257 closed, assigned to nobody

[2022-05-23 08:13] yevsa opened #259 "Theme 5.6.0 doesn't work in Webstorm 2022.1.1"
**Describe the bug**
In 5.6.0 version there are no "One Dark"-options in Appearance - Theme selector.
After update the theme was automatically disabled and I couldn't select it again. Restart did not help.

**Environment**
WebStorm 2022.1.1
Build #WS-221.5591.52, built on May 10, 2022
Runtime version: 11.0.14.1+1-b2043.45 aarch64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 12.3.1
GC: G1

[2022-05-23 10:24] Unthrottled commented on #259
I just rolled back to 2022.1.1, and downloaded the plugin and it works for me.

[code]

That's weird, are you able to re-enable it in the plugin menu?
<img width="1094" alt="Screen Shot 2022-05-23 at 5 23 29 AM" src="https://user-images.githubusercontent.com/15972415/169799425-50fc560d-cfdd-4843-b253-7c141051b375.png">

[2022-05-23 13:00] yevsa commented on #259
Pardon my initial wording. The plugin is enabled.
I meant that the theme was unloaded during update but did not load again.  but And I am stuck with default themes only
<img width="347" alt="Screenshot 2022-05-23 at 16 57 50" src="https://user-images.githubusercontent.com/1779779/169824914-1c2bb769-0964-4290-a3c0-322af1f4038f.png">
<img width="588" alt="Screenshot 2022-05-23 at 16 58 16" src="http

[2022-05-23 13:21] Unthrottled commented on #259
Hmm, that is weird, could you try a few things for me please?

- Uninstall the plugin, restart, re-install the plugin, restart.
- If that didn't work, try to [manually install it](https://one-dark.gitbook.io/jetbrains/the-basics/installation#manual)
- If that doesn't work, could you try to install another 3rd party theme, and see if those are available.

[2022-05-23 14:00] yevsa commented on #259
Uninstall the plugin, restart and re-install the plugin helped.
But now I have two "One Dark" options:

<img width="366" alt="Screenshot 2022-05-23 at 17 58 31" src="https://user-images.githubusercontent.com/1779779/169836279-71de142e-7cab-4461-830c-ab0a29114a63.png">

[2022-05-23 14:50] larscom opened #260 "Version 5.6.0 is visible but intellij tries to install older version (5.3.1)"
Hi,

I am using Intellij IDEA ultimate:

IntelliJ IDEA 2022.1.1 (Ultimate Edition)
Build #IU-221.5591.52, built on May 10, 2022
Runtime version: 11.0.14.1+1-b2043.45 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Linux 5.15.38-1-manjaro

When i try to install version 5.6.0 of One Dark Theme it shows an error which says it tries to install version 5.3.1 which is weird.
I tried to invalidate

[2022-05-23 22:41] Unthrottled commented on #259
That's odd, besides that, the theme works as expected, correct?

If so, I might have some time later to potentially investigate the issue. Something might have happened during the update that might have corrupted things.

[2022-05-23 22:44] Unthrottled commented on #260
Huh, that's odd. I'm leaning to it being an issue with the platform.

Could you try a couple of things for me, please?

- Uninstall the plugin, restart, re-install the plugin, restart.
- If that didn't work, try to [manually install it](https://one-dark.gitbook.io/jetbrains/the-basics/installation#manual)

[2022-05-24 07:18] larscom commented on #260
I coulnd't uninstall/re-install the plugin because it was not installed in the first place ;)

Although i was using this theme before (installed successfully via the market place) and then there was an update available (version 5.6.0)
After clicking the 'update' button that error popped up and uninstalled the previous version of this theme and set me back to the default 'darcula' theme.

I tried t

[2022-05-24 10:30] Unthrottled commented on #260
Oh, I missed that, sorry.

I think something wonky was happening with how it was retrieving the update details from the plugin repository. Something wonky must have got cached (not in the normal clearable caches). Might have saved older data.

Example: https://plugins.jetbrains.com/plugins/list?pluginId=com.markskelton.one-dark-theme&build=221.5080.210

[2022-05-24 20:15] larscom commented on #260
I have the same problem with other plugins. So it might indeed be an intellij problem..

[2022-05-24 20:15] #260 closed, assigned to nobody

[2022-05-25 08:30] yevsa commented on #259
After a day of using I haven't noticed any other issues.

[2022-05-27 00:45] m4heshd opened #261 "Command line options are not visible on terminal, for IDE supported commands"
**Describe the bug**
The IDE highlights some terminal commands that has built-in integrations like `npm` on WebStorm. When the command is highlighted, command options become invisible even though the regular arguments looks ok.

![image](https://user-images.githubusercontent.com/6711514/170605107-9629cb34-8589-49d9-ba21-f7d290e2e1a9.png)

Here's how it looks when options are selected.

![image](ht

[2022-05-27 10:27] Unthrottled commented on #261
I am unable to replicate on my MacOS machine. I'll have some time later, maybe this weekend, to see if it is reproducible on my windows machine.

<img width="551" alt="Screen Shot 2022-05-27 at 5 25 37 AM" src="https://user-images.githubusercontent.com/15972415/170682224-58bf97eb-7dbc-48f0-9ccc-65cebec9ce25.png">

You don't have any special  cli plugins, do you?
Does this happen always, or just so

[2022-05-28 01:27] m4heshd commented on #261
Thanks for the quick response @Unthrottled.

Seems like it's a powershell thing (interpreter specific). This is using command prompt. 😔

![image](https://user-images.githubusercontent.com/6711514/170804370-d5062da9-ab45-412d-9c54-cd055a1b860d.png)

Not at the moment.

It started happening after a specific IDE update about a year ago. Can't remember what exactly it was.

[2022-05-31 09:40] JeremiasBohn commented on #259
I had the same issue using PyCharm 2022.1.1, uninstalling, restarting and installing it again helped. However, One Dark is only listed once for me, as intended.

[2022-06-01 00:04] Remzi1993 opened #262 "Updated to 5.6.0 and doesn't work anymore in IntelliJ IDEA Ultimate 2022.1.1"
**Describe the bug**
I updated the One Dark theme to 5.6.0 and after the update it doesn't work anymore

**To Reproduce**

1. Be on IntelliJ IDEA Ultimate 2022.1.1
2. Update  One Dark theme to 5.6.0
3. After the update it doesn't work anymore, I have tried disabling it and re-enabling it. Also, the theme is not found anymore in the theme list. See screenshot below.

**Expected Behavior**
Update sh

[2022-06-01 00:19] Remzi1993 commented on #262
PS: It seems to work if you completely remove the plugin/theme and close the IDE and then start the IDE again and install the plugin fresh again. Seems like there is something going wrong during the upgrade process. Maybe you can look into it.

You could easily test this by installing one version below 5.6.0 on 2022.1.1 and then do an update to 5.6.0 to reproduce the problem and also check what's

[2022-06-01 00:21] Remzi1993 commented on #259
@Unthrottled I have left you some extra information in #262 Something is going wrong in the upgrade process and I have added steps for you so you can easily reproduce it yourself. Maybe this way you can get quicker to the core of the problem.

[2022-06-02 22:59] Unthrottled commented on #262
I was able to reproduce the issue, thanks for providing the info.

I'll make sure this is fixed before the next upgrade.

[2022-06-02 23:22] Unthrottled commented on #262
Huh, when I upgrade from an older version to 5.6.0 then the themes go away. However, after I restart the IDE, I can re-select the themes, does that happen to you?

ENV:

[code]

https://user-images.githubusercontent.com/15972415/171753776-4ed2fabf-f27d-46dd-aeb0-f6498034a0f2.mp4

[2022-06-12 22:14] Unthrottled commented on #261
Had some time to look at this, looks like it was using the `dark gray` color for named arguments

![image](https://user-images.githubusercontent.com/15972415/173255723-b4cfa4e6-be05-41d1-ac0b-e20d6d5f66cc.png)

I'll probably just do what you suggested and supply a foreground color for the `command to run using IDE` setting.

[2022-06-12 22:55] Unthrottled commented on #262
Tested this out with a new plugin and it also had this issue. Think it is a platform bug, so I submitted an issue https://youtrack.jetbrains.com/issue/IDEA-295921/Dynamic-Theme-Plugins-lost-after-update

[2022-06-13 06:16] fgimian commented on #262
I experienced the same issue too, just couldn't get the new version working.  v5.5.2 seems to work perfectly though.

Huge thanks for the theme, looks beautiful!
Fotis

[2022-06-13 09:33] m4heshd commented on #261
Yes. I noticed that when messing around with these settings trying to find a workaround when I originally created the issue. But I couldn't find any setting to change that to some other color.

I see that you've overridden the dark gray color completely for that demonstration but is there any possibility a theme could change the color of CLI options for specific interpreters? 🤔

[2022-06-15 14:03] Remzi1993 commented on #262
I needed to do a clean re-install. Which also helped.

[2022-07-31 13:43] Unthrottled commented on #259
Think this might be related to #262 . Will close in favor of that.

[2022-07-31 13:43] #259 closed, assigned to nobody

[2022-09-06 18:07] ypedroo opened #264 "Some icons broken on JetBrains Rider 2022.2.2"
Describe the bug
I updated the One Dark theme to 5.6.0 and after the update it doesn't work anymore

To Reproduce

Be on JetBrains Rider 2022.2.2
Have One Dark 5.6.0
Use some YAML or Docker running on services
Expected Behavior
Show icons as other theme
![icons-rider-dk](https://user-images.githubusercontent.com/25783175/188707369-fef4c672-2a9f-4cfe-bb72-bf0f6a24584c.png)
s like the images:
![icon

[2022-09-06 22:15] Unthrottled commented on #264
Thanks for taking the time to file this issue.

This is odd because there isn't [any icon customizations](https://github.com/one-dark/jetbrains-one-dark-theme/blob/master/buildSrc/templates/oneDark.template.theme.json#L450).

I wonder if there is something odd happening with Rider, Custom UI Themes, and how icons are being colored. I might have some time this weekend to try to reproduce. Do the ic

[2022-09-08 11:46] ypedroo commented on #264
Yep, sometimes they appear and then go missing afterwards

[2022-09-11 14:44] Unthrottled commented on #264
Can you give me more steps to reproduce the icons. I am unable to reproduce the icons you've outlined.

<img width="1334" alt="Screen Shot 2022-09-11 at 9 43 06 AM" src="https://user-images.githubusercontent.com/15972415/189533765-526bf656-97c6-43d9-a12b-a13c6e77daae.png">

[code]

You have any plugins installed that recognize specific files?

[2022-09-11 23:11] ypedroo commented on #264
I was able to identify it in attached folders and for docker desktop on services tab, currently I have none

[2022-09-11 23:11] ypedroo commented on #264
I'll try and reproduce it on a vm

[2022-09-11 23:11] ypedroo commented on #264
![image](https://user-images.githubusercontent.com/25783175/189552913-b4c263a4-d5d1-4ded-8099-39765385a21f.png)

[2022-09-20 03:02] yantaozhao opened #265 "not distinguishable for identifier under caret"
This is a great theme i've used so far.

However the `identifier under caret` is a little bit undistinguishable, especially when code span many rows. so i have to hack by changing the style :
- identifier under caret: add effects by `bordered` color (my case: 606060)
- identifier under caret(write): add effects by `bordered` color (my case: C0C0C0)

Wanting some more robust way to improve it.
thx.

[2022-09-20 22:24] Unthrottled commented on #265
Hey!

I don't know if this helps, but the `Error stripe mark` is something you can also look out for, it shows up in the right hand scroll gutter. That helps me identify items under the caret that aren't on the window at the moment.

<img width="846" alt="Screen Shot 2022-09-20 at 5 18 16 PM" src="https://user-images.githubusercontent.com/15972415/191375292-4931c65e-8974-41ea-821a-242b4dd9eaad.png

[2022-09-20 22:24] #265 closed, assigned to nobody

[2022-09-21 08:50] yantaozhao commented on #265
Have a look at gutter is sometimes right, and your example looks very clear. But it's not a solid way, as there maybe other distractions in the shared area. e.g.(a common real case):

![image](https://user-images.githubusercontent.com/9587405/191458203-037b07ec-5806-4bfc-897c-fb5a6f47bda3.png)

So, perhaps getting the identifier more recognizable directly inside codes is an better way. 🤔

[2022-09-21 10:16] Unthrottled commented on #265
Yeah the `Error Stripe mark` was a recommendation in addition to you adding the bordered `effect` and changing the `Background` of the Identifier Under caret to suite your tastes.

[2022-09-21 12:49] ypedroo commented on #264
an update on this, besides docker desktop the problem lays mainly on heml related items.

[2022-09-21 12:55] ypedroo commented on #264
Also happens on Linux, i have created up a new env using pop os 22.04 and still happens

[2022-09-21 13:07] Unthrottled commented on #264
![188707369-fef4c672-2a9f-4cfe-bb72-bf0f6a24584c](https://user-images.githubusercontent.com/15972415/191511374-b004d6ad-e269-4aeb-922b-614c3cb1d879.png)

☝️ what makes these icons, is there a plugin that does that?

Please list any and all installed plugins. Go to `Help` -> `About` then copy, you should get something like this:

[code]

If I can't reproduce the issue, give me an example project &

[2022-09-23 17:54] ypedroo commented on #264
[code]

[2022-09-25 08:07] danellis opened #266 "Not compatible with IDEA 2022.3 EAP"
Will there be an update soon?

[2022-09-25 18:33] #261 closed, assigned to nobody

[2022-09-25 18:33] #266 closed, assigned to nobody

[2022-09-25 18:42] Unthrottled commented on #266
[v5.7.0](https://plugins.jetbrains.com/plugin/11938-one-dark-theme/versions/stable/228576?preview=true) is now available for all 2022.3 EAP builds now. Thanks for the reminder. 😃

[2022-09-26 15:31] CameO73 opened #267 "Small UI issue in NuGet window for experimental UI"
**Describe the bug**
When the experimental UI is enabled (Registry... > enable ide.experimental.ui), a small UI issue is present in the NuGet window when using One Dark. This issue is not present when using the standard Jetbrains Dark theme or when disabling the experimental UI.

**To Reproduce**
1. Open the Registry... (e.g. via Search Everywhere)
2. Enable the **ide.experimental.ui** setting
3.

[2022-09-27 11:21] Unthrottled commented on #267
Looked into this, I don't think there is a good fix for this.

Looks like there is an issue with the padding/spacing, because the `ToolWindow.background` is bleeding out.

![image](https://user-images.githubusercontent.com/15972415/192511875-f794b9d0-64d8-46f4-8883-18dc2b54651f.png)

When I set the color to match the header, It makes other stuff look awful

![image](https://user-images.githubuserc

[2022-09-27 11:21] #267 closed, assigned to nobody

[2022-09-27 12:22] CameO73 commented on #267
Thanks for looking into this! I had no idea the background was used for the package list as well -- so a quick fix is out of the question. Waiting for the release with the final UI is definitely the best course of action.

[2022-09-27 22:34] Unthrottled commented on #262
Doesn't look like there was anything done to https://youtrack.jetbrains.com/issue/IDEA-295921/Dynamic-Theme-Plugins-lost-after-update

But nobody has complained about the latest update, so I'll close this issue, as it isn't an issue with the plugin but the platform.

Thanks everybody for the supporting information!

[2022-09-27 22:34] #262 closed, assigned to nobody

[2022-09-27 22:44] Remzi1993 commented on #262
@Unthrottled Please 🙏🥺 keep it open so it gets tracked. I don't think it's a good idea to close it. My apologies for the late reply.

I encountered something close to this or maybe connected? 🤔  Clean install Windows 11 and install IntelliJ IDEA and install this theme. It doesn't get automatically activated anymore and you need to manually enable the theme.

[2022-09-27 22:47] Unthrottled commented on #262
@Remzi1993 I was planning on keeping the YouTrack issue open, so status can be tracked there.

I currently don't see the value in keeping this (the GitHub issue) open. Because it isn't an issue with the plugin, but the platform. Unless I'm missing something.

[2022-09-27 22:48] Remzi1993 commented on #262
Okay 👍

[2022-10-14 12:44] ppcosmo opened #268 "[Dataspell] Notebook's "cell running" bar is too dark"
Hi!
Thank you for this amazing theme. It's absolutely stunning, but the "running" indicator on jupyter cells is too dark, almost invisible against the dark background.

![Screen Shot 2022-10-14 at 09 39 59](https://user-images.githubusercontent.com/97979801/195849541-532aa3ee-4098-4d00-b76a-f30af85c7523.png)

I don't know if it is an easy fix, but I'd suggest a more vibrant color for this, maybe y

[2022-10-15 12:55] Unthrottled commented on #268
Thanks for reporting this. I might have some time in the near future to investigate the issue.

This is just color of progress indicator below the cell executing?

[2022-10-17 12:16] ppcosmo commented on #268
Yes, just that! For reference, this is how it looks like in the Dracula Theme:

![Screen Shot 2022-10-17 at 09 15 50](https://user-images.githubusercontent.com/97979801/196174821-121afc5b-0b81-4cdc-a7b7-3e03378d940d.png)

[2022-10-19 08:52] MakiRollDev opened #269 "No highlighting when using jsf/primefaces"
**Description**
There is no syntax highlighting in xhtml files for jsf/primefaces components

**To Reproduce**
Open a .xhtml file and use a jsf component

**Expected Behavior**
Highlighting similar to normal html tags

**Environment**
IntelliJ IDEA 2022.2.3 (Ultimate Edition)
Build #IU-222.4345.14, built on October 5, 2022
Licensed to Nicky
Subscription is active until November 8, 2022.
Evaluation

[2022-10-19 13:18] Unthrottled commented on #269
Does the default intellij themes recognize the jsf tokens (does it highlight as expected)? I'll assume `com.intellij.jsf` is what determines highlighting if so.

Provide an example please if it does look as expected.

[2022-10-25 07:11] tanmatra opened #270 "More visible popup borders needed"
Please change border color for popup windows, it's sometimes almost impossible to tell where popup edges is.
I think it should be more darker.

Or, at least, I will be glad to learn how to do it using the configuration file.

Compare:

One dark:
![one dark](https://user-images.githubusercontent.com/708023/197705389-ff741713-b546-4e69-b56a-b9b1ec6ffc6c.png)

Darcula:
![darcula](https://user-images.

[2022-10-25 23:29] Unthrottled commented on #270
I might have some time in the future (maybe this weekend or the next) to investigate what could be done, or how you could configure it. Thanks!

[2022-11-06 23:11] surgicalcoder opened #271 "NewUI - Run with options toolbar widget - little contrast on text, very hard to read"
Running the NewUI on Rider - the "Run with options toolbar widget" in the top right hand corner, the grey text is barely readable on the green background when something is being run:

![image](https://user-images.githubusercontent.com/1169543/200200406-bf247475-df1a-43ed-9cd8-94c2a68ff47a.png)

When it's not being run, it looks perfectly fine:

![image](https://user-images.githubusercontent.com/11